{{< info-box >}}
	<h3>Das Wichtigste in Kürze</h3>

	<p>Wenn es einfach schnell gehen soll, dann findest du in diesem Kasten die Hauptaussagen des Artikels:</p>

	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
{{< /info-box >}}
