.article__svgs {
	display: flex;
	justify-content: space-between;

	&--btn {
		fill: $social-base;
		color: $social-base;
		text-decoration: none;

		&:hover,
		&:active {
			fill: $chinder-verdigris;
			color: $chinder-verdigris;
		}
	}

	&--print {
		@extend .article__svgs--btn;
		background-color: $color-white;
		border: none;
		display: flex;
		align-items: center;

		&-text {
			text-transform: uppercase;
			font-size: 1.3rem;
			margin-right: 1rem;

			@include respond(phone-xl) { display: none; }
		}
	}

	&-left { display: flex; }

}
