.article__svgs {
	fill: $social-base;
	text-decoration: none;
	display: flex;
	justify-content: space-between;

	&-btn {
		&:hover,
		&:active { fill: $chinder-verdigris; }
	}

	&-main {
		display: flex;
		justify-content: center;
	}
}
