.breadcrumb	{

	&__container { @include container-main; }

	&__group-container {
		display: flex;
		justify-content: center;
	}

	&__group {
		width: 65%;
		list-style: none;
		padding-left: 0;
		border: 1px solid $color-black;
		padding: 1rem;
		display: flex;
		justify-content: center;
	}

	&__item {
		padding: 1rem;

		&:not(:last-child) { border-right: 1px solid $chinder-cultured; }
	}

	&__link:hover,
	&__link:active { border-bottom: 2px solid $chinder-verdigris; }
}
