.breadcrumb	{
	color: $chinder-platinum;
	font-weight: 500;

	&__link:link,
	&__link:visited {
		font-weight: 500;
		text-decoration: none;
		color: $chinder-platinum;
	}

	&__link:hover,
	&__link:active { border-bottom: 2px solid $chinder-platinum; }

	&__container { @include container-main; }

	&__group-container {
		background-color: $footer-dark;
		padding: 1rem 0;
		display: flex;
		justify-content: center;

		@include respond(tab-port-xs) { padding: 1rem; }
	}

	&__group {
		list-style: none;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		display: flex;
		padding: 1rem;
	}

	&__active {
		@extend .breadcrumb__link;
		border-bottom: 2px solid $chinder-platinum;
	}

	&__icon {
		margin: .3rem 0 0 1rem;
	}
}
