.btn {

	&__container {
		text-align: center;
		margin-top: $margin-m;
	}

	&--primary { @include btn-color($color-white, $color-black, $primary: true); }

	&--secondary { @include btn-color($color-white, $color-black, $primary: false); }

	&--donate {
		@include btn-color($color-white, $color-black, $primary: false);
		width: 40%;
		text-align: center;

		&:nth-child(-n+2) {  margin-bottom: 1.5rem; }
	}

	&--verein {
		@include btn-color($color-white, $color-black, $primary: false);
		width: 40%;
		display: flex;
		justify-content: space-between;

		&-arrow {
			display: flex;
			align-self: center;
		}

		&:hover,
		&:active { .arrow { fill: $color-white; } }

		&:not(:last-child) { margin-bottom: 3rem; }
	}

	&-submit {
		margin-left: 2rem;
		align-self: flex-start;
		padding: .5rem 1rem;

		&--nav {
			border: 2px solid $social-base;
			background-color: $color-white;
		}

		&--footer {
			border: 2px solid $chinder-platinum;
			background-color: $footer-light;
		}

		&:hover,
		&:active {
			background-color: $chinder-verdigris;
			border-color: $chinder-celadon;
		}
	}
}
