.btn {
	font-family: $font-spartan;
	text-transform: uppercase;
	color: $black;
	background-color: $white;
	cursor: pointer;
	padding: 1.5rem;
	display: flex;

	&:hover { transform: translateY(-1rem); }

	&:active { transform: translateY(.5rem); }

	&__space { justify-content: space-between; }

	&__center { justify-content: center; }

	&__group {
		margin-top: $margin-s;

		&:not(:last-child) { margin-right: $margin-s; }
	}

	&__label {

		&--thema { margin-right: 1rem; }

		&--visible-pricing { margin-right: $margin-s; }
	}

	&__svg { 
		
		&--small { height: 1.5rem; }

		&--big { height: 2.4rem; }
	}

	&--jonquil { @include btn-color($jonquil, 255, 207, 4, 0.65) }

	&--space-cadet { @include btn-color($space-cadet, 46, 49, 66, 0.65) }

	&--celadon { @include btn-color($celadon, 53, 130, 128, 0.65) }

	&--chestnut { @include btn-color($chestnut, 162, 80, 50, 0.65) }

	&__spenden {
		font-size: $font-default;
		width: 45%;
		justify-content: center;

		&:nth-child(n+3) { margin-top: $margin-s; }

		&-group {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			margin-bottom: $margin-s;
		}
	}

	&__small {
		font-size: 1.2rem;
		padding: .8rem;

		&--taxonomy {
			border: 2px solid $silver;
			box-shadow: .5rem .5rem $silver;

			&:not(:first-child) { margin-left: 2rem; }

			&:link,
			&:visited {
				border: 2px solid $silver;
				text-decoration: none;
			}

			&:hover { box-shadow: .8rem .8rem $silver; }

			&:active { box-shadow: .2rem .2rem rgba(166, 165, 163, 0.65); }
		}
	}

	&__level {
		font-size: 1.2rem;
		font-family: $font-spartan;
		color: $black;
		background-color: $white;
		width: 8rem;
		padding: 1.3rem;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:first-child) { margin-left: 0rem; }

		&--article {
			border: 2px solid $jonquil;
			box-shadow: .5rem .5rem $jonquil;

			&:link,
			&:visited {
				border: 2px solid $jonquil;
				text-decoration: none;
			}

			&:hover { border-width: 2px 2px 0 2px; }
		}

		&--nav {
			border: 2px solid $celadon;
			box-shadow: .5rem .5rem $celadon;

			&:link,
			&:visited {
				border: 2px solid $celadon;
				text-decoration: none;
			}

			&:hover { border-width: 2px 2px 0 2px; }
		}
	}

	&__pricing {
		font-size: 1.8rem;
		width: 90%;
		margin-top: $margin-s;
		justify-content: center;

		&-narrow {
			padding: .8rem
		}
	}

	&__mobile {
		display: none;

		@include respond(phone-land-lg) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__kontakt {
		font-size: $font-default;
		align-self: flex-start;

	}

	&__footer {
		color: $platinum;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border: 2px solid $platinum;
		box-shadow: 0.8rem 0.8rem $platinum;
		background-color: $davy-grey;
		font-size: $font-default;
		margin-top: 0;


		&:link,
		&:visited {
			border: 2px solid $platinum;
			text-decoration: none;
		}

		&:hover { box-shadow: 1.1rem 1.1rem $platinum; }

		&:active { box-shadow: 0.5rem 0.5rem rgba(230, 229, 226, 0.65); }
	}
}
