.carousel {

	&:after {
		content: '';

		@include respond(tab-port-sm) {
			content: 'flickity';
			display: none;
		}
	}

	&-cell {
		margin-right: $margin-s;
	}

	&__bottom { margin-bottom: 4rem; }
}
