.card {

	&:link,
	&:visited {
		text-decoration: none;
		color: $color-black;
	}

	&:hover { transform: translateY(-1rem); }

	&:active { transform: translateY(.5rem); }

	&--bg {
		&-cultured { background-color: $cultured; }
		&-white { background-color: $white; }
	}

	&--silver { @include shadow($silver, 166, 165, 163, 0.65) }
	&--celadon { @include shadow($celadon, 53, 130, 128, 0.65) }
	&--chestnut { @include shadow($chestnut, 162, 80, 50, 0.65) }

	&__img {
		&-container {
			background: $white;
			display: flex;
			justify-content: center;
		}
	}

	&__port {
		height: 40rem;
		width: 30%;
		margin-top: $margin-s;

		@include respond(tab-port-sm) {
			width: 100%;
			height: 20rem;
			display: flex;
		}

		&-img {
			width: 100%;
			height: 20rem;

			&--pdf { width: 60%; }

			&:hover,
			&:active { transform: translateY(0rem); }

			@include respond(tab-port-sm) { width: 30rem; }

			@include respond(phone-xl) { display: none; }
		}

		&-content {
			height: 20rem;
			padding: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-topic { margin-bottom: -.5rem; }

		&-title {
			font-family: $font-amatic;
			font-size: 2.5rem;
			line-height: 3rem;
		}
	}

	&__land {
		height: 30rem;
		width: 100%;
		display: flex;

		@include respond(tab-port-sm) {
			flex-direction: column;
			height: 100rem;
		}

		@include respond(phone-land-lg) { height: 90rem; }

		@include respond(phone-xl) { height: 80rem; }

		@include respond(phone-lg) { height: 70rem; }

		&-img {
			height: 100%;
			width: 40rem;

			@include respond(tab-port-sm) {
				height: auto;
				width: 100%;
			}
		}

		&-content {
			width: 100%;
			height: 100%;
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-topic { margin-bottom: -2rem; }

		&-title {
			font-family: $font-amatic;
			font-size: 3.5rem;
			line-height: 3.5rem;
			margin: 1.5rem 0;
		}
	}

	&__external {
		height: 20rem;
		margin-top: $margin-s;

		&-img { height: 20rem; }

		&--buffer { height: 0; }
	}

	&__topic {
		font-family: $font-spartan;

		&--fdw { color: $engineering-orange; }

		&--kfk { color: $orange; }

		&--website { color: $celadon; }
	}

	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;

		&-svg {
			fill: none;
			height: 20rem;
		}

		&-text {
			font-family: $font-spartan;
			text-transform: uppercase;
			font-size: 2.5rem;
			margin-top: 2rem;
		}

		&--celadon {
			stroke: $celadon;
			color: $celadon;
		}

		&--grey {
			stroke: $silver;
			color: $silver
		}
	}

	&__buffer { height: 0; }
}
