.carousel {

	&:after {
		content: '';

		@include respond(tab-port-sm) {
			content: 'flickity';
			display: none;
		}
	}

	&-cell {
		margin-right: $margin-s;
	}
}

.flickity-prev-next-button.previous,
.flickity-prev-next-button.next { background-color: $jonquil; }

.flickity-button.flickity-prev-next-button.previous { left: -2rem; }
.flickity-button.flickity-prev-next-button.next { right: -2rem; }

ol.flickity-page-dots { bottom: -3.5rem; }
