.card {

	&--portrait {
		width: 30rem;
		height: 35rem;

		.card__photo {
			height: 17rem;
			width: 30rem;
		}

		.card__content { height: 50%; }
	}

	&--landscape {
		height: 14rem;
		width: 55rem;

		.card__photo {
			height: 14rem;
			width: 20rem;
		}

		.card__link { display: flex; }

		&:nth-child(-n+2) { margin-bottom: 3rem; }
	}

	&--bg-grey { background-color: $chinder-cultured; }

	&--bg-white { background-color: $color-white; }

	&__content {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&--h-black {

		&:hover {
			background-color: $color-black;

			.card__photo { box-shadow: inset 0 0 0 1rem $color-black; }
		}
	}

	&--h-verdigris {

		&:hover {
			background-color: $chinder-verdigris;

			.card__photo { box-shadow: inset 0 0 0 1rem $chinder-verdigris; }
		}
	}

	&--h-orange {

		&:hover {
			background-color: $chinder-orange;

			.card__photo { box-shadow: inset 0 0 0 1rem $chinder-orange; }
		}
	}
}
