.card {
	&:hover {
		background-color: $color-black;

		.card__photo { box-shadow: inset 0 0 0 1rem $color-black; }
	}

	&__list { @include container-main; }

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__portrait {
		@include card-dimensions(40rem, 30rem, true);

		&:not(:nth-child(-n+3)) { margin-top: 3rem;}

		.card__content { height: 50%; }
	}

	&__landscape {
		@include card-dimensions(14rem, 54rem, false);

		.card__link { display: flex; align-self: auto;}

		&:nth-child(-n+2) { margin-bottom: 3rem; }
	}

	&__focus {
		@include card-dimensions(27rem, 100rem, false);

		.card__link {
			display: flex;
			align-self: center;
		}
	}

	&--grey { background-color: $chinder-cultured; }

	&--white { background-color: $color-white; }

	&__content {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
