.cta {
	padding: 5rem 3rem;

	&--verL { @include cta-type($verdigris, left, $celadon); }
	&--verR { @include cta-type($verdigris, right, $celadon); }

	&--orL { @include cta-type($orange, left, $chestnut); }
	&--orR { @include cta-type($orange, right, $chestnut); }

	&--pinkL { @include cta-type($pink, left, $space-cadet); }
	&--pinkR { @include cta-type($pink, right, $space-cadet); }

	&--lernpfad { background-color: $russian-violet; }

	&__flex-arnd {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__svg {
		width: 45%;
		display: flex;
		justify-content: center;

		@include respond(tab-port-xl){
			width: 55%;
			justify-content: flex-end;
		}

		@include respond(phone-land-lg) { display: none; }

		&-flex-end {
			@include respond(tab-port-xl){
				justify-content: flex-end;
			}
		}

		&-flex-start {
			@include respond(tab-port-xl){
				justify-content: flex-start;
			}
		}
	}

	&__text {
		width: 45%;

		@include respond(phone-land-lg) { width: 100%; }
	}

	&__chunk {
		text-align: justify;
		margin-top: 3rem;

		&--white { color: $white; }
	}
}
