.cta {
	padding: 5rem 3rem;

	&--just-text { padding-top: 0; }

	&--verdigris { @include cta-color($verdigris, $celadon); }
	&--orange { @include cta-color($orange, $chestnut); }
	&--pink { @include cta-color($pink, $space-cadet); }
	&--platinum { @include cta-color($platinum, $silver); }
	&--rus-violet { @include cta-color($russian-violet, $jonquil); }

	&__container {
		display: flex;

		&--standard {
			justify-content: space-between;
			align-items: center;
		}

		&--single { justify-content: center; }

		&--something { flex-direction: column; }

		&--column {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
		}

		&--card-list {
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&--taxonomy {
			justify-content: space-around;
			flex-wrap: wrap;
		}

		&--volunteer {
			@extend .cta__container--standard;

			@include respond(phone-xl) { flex-direction: column; }
		}
	}

	&__info {
		width: 55%;

		@include respond(phone-land-lg) { width: 100%; }

		&--column {
			width: 75%;
			margin-top: $margin-s;
		}
	}

	&__text {
		text-align: justify;
		margin-bottom: $margin-s;

		&--btnless { margin-bottom: 0; }

		&--white { color: $white; }

		&--column { text-align: center; }
	}

	&__svg {
		width: 45%;
		display: flex;

		&--column { width: 60%; }

		&--display-none { @include respond(phone-land-lg) { display: none; } }

		&--flex-center { justify-content: center; }

		&--flex-start { justify-content: flex-start; }

		&--flex-end { justify-content: flex-end; }
	}

	&__crew {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__article {
		padding: 3rem 3rem 3.8rem 3rem;
		margin: $margin-s 0;
	}

	&__price {
		color: $white;
		background-color: $verdigris;
		box-shadow: 0.8rem 0.8rem $celadon;
		padding: 2rem;
		justify-content: space-around;
		align-items: center;
		margin-bottom: $margin-s;
		display: none;

		@include respond(phone-land-lg) { display: flex; }

		&-group {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-num {
			font-size: 4rem;
			font-weight: bold;
		}

		&-label { margin-top: -1rem; }
	}
}
