.cta {

	&__content {
		display: flex;
		justify-content: space-between;

		&--landscape {
			flex-wrap: wrap;
		}
	}

	&--azure,
	&--seashell { padding: 3rem 0; }
	
	&--azure { background-color: $cta-azure; }

	&--seashell { background-color: $cta-seashell; }
}
