.document {

	&__card {
		background-color: $chinder-cultured;
		width: 30rem;
		display: flex;
		flex-direction: column;
		margin-top: 3rem;
		padding: 2rem;

		@include respond(tab-port-xl) { width: 25rem; }

		&-title {
			font-family: $font-patrick, $font-fallback;
			text-align: center;
			margin-bottom: 2rem;
		}

		&--unterrichtsideen {
			display: flex;
			justify-content: center;
		}

		&--arbeitsmaterial {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include respond(tab-port-xl) { flex-direction: column; }
		}

		&-btns {
			display: flex;
			flex-direction: column;

			@include respond(tab-port-xl) { width: 100% }
		}

		&-btn {
			text-align: center;

			&:first-child { margin-bottom: 3rem; }

			@include respond(tab-port-xl) {
				&:first-child { margin-bottom: 0; }

				margin-top: 1.5rem;
			}
		}
	}
}

.card__hidden { display: none; }
