.faq {
	background-color: $white;
	@include shadow($silver, 166, 165, 163, 0.65);
	padding: 2rem;

	&:hover { transform: translateY(-1rem); }

	&:active { transform: translateY(.5rem); }

	&__input {
		display: none;

		&:checked ~ .faq__answer {
			display: flex;
			flex-direction: column;
			align-items: baseline;
		}

		&:checked + .faq__label > .faq__arrow { transform: rotate(180deg); }
	}

	&__label {
		font-weight: bold;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__arrow {
		border-left: .5rem solid transparent;
		border-right: .5rem solid transparent;
		border-top: .6rem solid $black;
		margin-left: 1rem;
		transition: transform ease-in-out 0.2s;
	}

	&__answer {
		display: none;
		transition: Display 0s, flex-direction 0s, align-items 0s;
	}
}
