.image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: $margin-s 0;

	&__img { box-shadow: 2rem 2rem $verdigris; }

	&__caption {
		// align-self: flex-start;
		display: flex;
		align-items: center;
		margin-left: -40rem;

		@include respond(tab-land) { margin-left: -45rem; }

		@include respond(tab-port-xl) { margin-left: -50rem; }

		@include respond(phone-xxl) { margin-left: -45rem; }

		@include respond(phone-xl) { margin-left: -35rem; }

		@include respond(phone-lg) { margin-left: -25rem; }
	}

	&__photographer { color: $white; }


	&__src { margin-left: .5rem; }
}
