.image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $margin-s;

	&__caption {
		align-self: flex-start;
		display: flex;
		align-items: center;
		margin-left: 21rem;

		@include respond(tab-port-xl) { margin-left: 15.5rem; }

		@include respond(tab-port-lg) { margin-left: 9rem; }

		@include respond(tab-port-sm) { margin-left: 7rem; }

		@include respond(phone-land-lg) { margin-left: 1rem; }

		@include respond(tab-port-xs) { margin-left: 0; }
	}

	&__src { margin-left: .5rem; }
}
