.image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $margin-s;

	&__caption {
		align-self: flex-start;
		display: flex;
		align-items: center;
		margin-left: 26rem;
	}

	&__src { margin-left: .5rem; }
}
