.impfstoffe {
	margin: 3rem 0;

	&__intro-text { text-align: justify; }

	&__article-link {

		&:link,
		&:visited { color: $chinder-verdigris; }
	}

	&__main {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include respond(tab-port-sm) { flex-direction: column-reverse; }
	}

	&__stats,
	&__stats-sc {
		background-color: $chinder-cultured;
		list-style: none;
		padding: 3rem;

		@include respond(tab-port-sm) {
			margin-top: 3rem;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}

	&__stats-sc { padding-bottom: 0; }

	&__item {

		&:not(:last-child) { margin-bottom: 3rem; }

		@include respond(tab-port-sm) {

			&:not(:last-child) { margin-right: 3rem; }
		}

		@include respond(phone-lg) {

			&:not(:last-child) { margin-right: 0; }
		}
	}

	&__num {
		font-weight: 700;
		margin-left: 1rem;
	}

	&__source {
		font-size: 1.3rem;
		margin-left: 2rem;

		@include respond(tab-port-sm) {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}

.impfstoffe svg {
	height: 60%;
	width: 60%;

	@include respond(phone-xxl) {
		height: 100%;
		width: 100%;
	}
}
