.level {
    display: flex;
    justify-content: flex-end;

    &__container {
        display: flex;
        align-items: center;
    }

    &__text {
        font-weight: bold;
        margin-right: 1rem;

        @include respond(phone-lg) { display: none; }
    }

    &__label {
        margin-right: .5rem;
    }

    &__nav {
        width: 35%;

        @include respond(phone-lg) {  width: 25%; }
    }
}

.dropdown__container {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }