.marker {

	&:link,
	&:visited {
		background-color: $chinder-platinum;
		padding: .8rem;
		border-radius: 2rem;
	}

	&:hover,
	&:active { background-color: $chinder-verdigris; }

	&:not(:first-child) { margin-left: 1rem; }
}
