.newsletter {
	display: flex;
	justify-content: center;

	@include respond(phone-xxl) {
		flex-direction: column;
		align-items: center;
	}

	&--nav,
	&--footer {
		input[type=email],
		input[type=email]::placeholder {
			color: inherit;
			font-family: inherit;
			font-size: inherit;
		}
	}

	&--nav {
		color: $social-base;
		background-color: $chinder-cultured;
		height: 5rem;

		input[type=email] { @include newsletter-field($color-white, $social-base); }
	}

	&--footer {
		color: $chinder-platinum;
		input[type=email] { @include newsletter-field($footer-light, $chinder-platinum);}
	}

	&__form {
		display: flex;
		padding: 2rem 0 .5rem 0;

		@include respond(phone-xxl) {
			flex-direction: column;
			align-items: center;
			padding-top: 1rem;
		}
	}

	&__container { display: flex; }

	&__heading {
		margin-right: 1.5rem;
		margin-top: .5rem;
		text-transform: uppercase;

		&--footer { font-weight: 500; }

		@include respond(phone-xxl) { margin: 0 0 1rem 0; }
	}

	&__group {
		width: 30rem;

		@include respond(phone-xxl) { width: 25rem; }

		&-field { padding: .5rem 1rem; }

		&-field:placeholder-shown + &-label {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-2rem);
		}
	}

	&__submit {
		margin-left: 2rem;
		align-self: flex-start;
	}
}

form#mc-embedded-subscribe-form.validate.newsletter__form {
	padding-top: 1.5rem;
	padding-bottom: 0;
}

div#mc_embed_signup_scroll.newsletter__group {

	input#mce-EMAIL.newsletter__group-field {
			width: 30rem;

			@include respond(phone-xxl) { width: 25rem; }
	}

	label.newsletter__group-label {
		font-size: 1.2rem;
		padding-bottom: 0;
		text-align: left;
		display: block;
		margin-left: 1.2rem;
		transition: all .3s;
	}
}
