.newsletter {
	display: flex;
	justify-content: center;

	@include respond(phone-xxl) {
		flex-direction: column;
		align-items: center;
	}

	&--nav {
		input[type=email] { @include newsletter-field($color-white, $social-base); }
	}

	&--footer {
		input[type=email] { @include newsletter-field($footer-light, $chinder-platinum);}
	}

	&__container { display: flex; }

	&__heading {
		margin-right: 1.5rem;
		margin-top: .5rem;

		@include respond(phone-xxl) { margin: 0 0 1rem 0; }
	}

	&__group {
		width: 30rem;

		@include respond(phone-md) { width: 25rem; }

		&-field {
			width: 100%;
			padding: .5rem 1rem;
		}

		&-label {
			margin-left: 1.2rem;
			display: block;
			transition: all .3s;
		}

		&-field:placeholder-shown + &-label {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-2rem);
		}
	}
}
