.pdf {
	background-color: $white;
	display: flex;
	align-items: center;
	padding: 1rem;
	cursor: pointer;

	&--external {
		@include shadow(#CD0000, 205, 0, 0, 0.65)
		border: 1px solid #CD0000;

		&:link,
		&:visited {
			text-decoration: none;
			color: $black;
		}

		&:hover { transform: translateY(-1rem); }

		&:active { transform: translateY(.5rem); }
	}

	&--cart {
		font-size: $font-default;
		border: none;
		box-shadow: 0.8rem 0.8rem #CD0000;
		margin: 0 10rem 3rem 0;
	}

	&__info { padding: 0 2rem; }

	&__title { font-family: $font-andika; }

	&__target {
		font-size: $font-small;
		margin-top: .5rem;
	}

	&__group { display: flex; }
}
