.pdf {
	@include shadow(#CD0000, 205, 0, 0, 0.65);
	color: $black;
	background-color: $white;
	display: flex;
	justify-content: space-between;
	cursor: pointer;

	&:link,
	&:visited {
		text-decoration: none;
		color: $black;
	}

	&--external {
		border: 1px solid #CD0000;

		&:hover { transform: translateY(-1rem); }

		&:active { transform: translateY(.5rem); }
	}

	&--cart {
		font-size: $font-default;
		border: none;
		margin: 0 6rem 3rem 0;
		padding: 0;
		-webkit-appearance: none;
	}

	&__info {
		display: flex;
		align-items: center;
		padding: 1rem;
	}

	&__text { margin: 0 1rem; }

	&__title,
	&__type { font-family: $font-spartan; }

	&__type {
		font-size: $font-small;
		color:#CD0000;
		text-transform: uppercase;
		margin-bottom: .5rem;
	}

	&__target {
		font-size: $font-small;
		margin-top: .5rem;
	}

	&__buy {
		background-color: $jonquil;
		width: 100%;
		padding: 1rem;

		&-container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-now {
			font-family: $font-spartan;
			margin: 1rem 0 0 1.5rem;
		}
	}

	&__group { display: flex; }
}
