.popup {
	background-color: $chinder-verdigris;
	// color: #ffffff;
	width: 420px;
	padding: 40px;
	position: fixed;
	z-index: 2300000000;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	border-radius: 8px;
	text-align: center;

	&__close {
		display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #000000;
    background: #ffffff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;

		&:link,
		&:visited {
			color: #000000;
	    background: #ffffff;
		}

		&:hover,
		&:active {
			color: #ffffff;
			background-color: $chinder-orange;
		}
	}

	&__title,
	&__text { color: #ffffff; }

	&__title {
		font-family: $font-patrick, $font-fallback;
		margin-top: -20px;
	}

	&__text {
	  text-align: justify;
		margin-bottom: 40px;
	  line-height: 25px;
	}
}
