.pricing {

	&__info {
		display: flex;
		justify-content: space-between;

		@include respond(tab-port-lg) { flex-direction: column; }
	}

	&__product {
		background-color: $white;
		flex: 0 0 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 1rem 2.5rem 1rem;

		@include respond(tab-port-lg) {

			&:not(:last-child) { margin-bottom: 3rem; }
		}

		&--chestnut { box-shadow: 0.8rem 0.8rem $chestnut; }

		&--silver { box-shadow: 0.8rem 0.8rem $silver; }
	}

	&__name {
		color: $white;
		align-self: flex-start;
		font-size: 1.3rem;
		font-weight: 500;
		padding: 1rem;
		margin: -1rem 0 0 -1rem;

		&--chestnut { background-color: $chestnut; }

		&--silver { background-color: $silver; }
	}

	&__type,
	&__number {
		font-size: 2.2rem;
		font-weight: 700;
	}

	&__type {
		margin: 2rem 0;
		align-self: center;
		text-align: center;
	}

	&__offersheet { padding-left: 2rem; }

	&__amount {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		justify-content: flex-end;
	}

	&__target {
		font-size: 1.3rem;
		margin-top: -.5rem;
	}

	&__button {
		text-align: center;
		margin: 2rem 0 1rem 0;
	}

	&__fineprint {
		font-size: 1.3rem;
		background-color: $white;
		box-shadow: 0.8rem 0.8rem $chestnut;
		text-align: justify;
		padding: 1rem;
		margin: 3rem 0;

		&--bold {
			color: $color-white;
			font-weight: 500;
			background-color: $chestnut;
			padding: .1rem;
		}
	}
}
