.search {
	display: flex;
	justify-content: center;

	&__container {
		width: 75%;
		display: flex;
		margin: $margin-s 0;

		&--jonquil { box-shadow: 0.8rem 0.8rem $jonquil; }

		&--celadon { box-shadow: 0.8rem 0.8rem $celadon; }
	}

	&__field.aa-input {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		font-family: inherit;
		font-size: inherit;
		width: 100%;
		padding: .5rem 1rem;

		&::placeholder { font-weight: 300; }

	}
	.aa-input {
		&--jonquil {
			border: .2rem solid $jonquil;
			border-left: 0;
			border-radius: 0;
		}

		&--verdigris {
			border: 2px solid $verdigris;
			border-left: 0;
			border-radius: 0;
		}
	}

}
