.snipcart {

	&-modal__container { z-index: 3000; }

	&__cart:active,
	&__cart:hover,
	&__account:active,
	&__account:hover { fill: #6C685D; }
}

.snipcart-overwrite {
	display: flex;
	border: none;
	background-color: #fff;
	cursor: pointer;

	&.snipcart-checkout,
	&.snipcart-customer-signin {
		border: none;
		background-color: #fff;
		cursor: pointer;
	}

	&.snipcart-checkout {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	&.snipcart-items-count {
		color: $color-white;
		font-weight: 700;
		font-size: 1rem;
		background-color: #a21017;
		padding: .5rem 1rem;
		border-radius: 10rem;
	}

	&.snipcart--signin { align-self: flex-end; }

	&.snipcart-customer-signin { align-self: flex-end; }
}
