.snipcart {

	&__cart:active,
	&__cart:hover,
	&__account:active,
	&__account:hover { fill: #6C685D; }
}

.snipcart-overwrite {
	display: flex;

	&.snipcart-checkout,
	&.snipcart-customer-signin {
		border: none;
		background-color: #fff;
		cursor: pointer;
	}

	&.snipcart-checkout {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	&.snipcart-items-count {
		background-color: #a21017;
		padding: .5rem 1rem;
		border-radius: 10rem;
	}

	&.snipcart-customer-signin { align-self: flex-end; }
}

.cart:active,
.cart:hover { fill: #6C685D; }
