.svg {

	&__magnify {
		background-color: $color-white;
		border: 2px solid $social-base;
		border-right: 0;
		padding: .5rem;
	}

	&__coffee {
		width: 5rem;
		@include respond(phone-xl) { display: none; }
	}

	&__klassenzimmer { width: 200%; }

	&__support { width: 70%; }

	&__spenden { width: 75%; }

	&__superhero { width: 60%; }
}
