.svg {

	&__magnify {
		background-color: $color-white;
		border: 2px solid $social-base;
		border-right: 0;
		padding: .5rem;
	}

	&__slogan {
		width: 9.5rem;
		height: 7.5rem;

		@include respond(phone-xxl) { display: none; }
	}

	&__banner {
		width: 5rem;

		@include respond(phone-xl) { display: none; }
	}

	&__klassenzimmer { width: 200%; }

	&__support { width: 70%; }

	&__spenden { width: 75%; }

	&__superhero { width: 60%; }

	&__lernpfad { width: 90%; }

	&__verein { width: 80%; }

	&__social {
		stroke: $platinum;
		text-decoration: none;
		width: 4rem;

		&:not(:last-child) { margin-right: 2rem; }
	}

	&__snipcart {
		width: 3rem;
	}

	&__article {
		width: 20rem;
		margin-left: 1.5rem;

		&--icon {
			fill: $orange;
			stroke: $chestnut;

			&:hover,
			&:active { fill: $chestnut; }
		}

		&--stroke {
			&:hover,
			&:active { stroke: $orange; }
		}
	}
}
