.svg {

	&__slogan {
		width: 9.5rem;
		height: 7.5rem;

		@include respond(phone-xxl) { display: none; }
	}

	&__banner {
		width: 5rem;

		@include respond(phone-xl) { display: none; }
	}

	&__klassenzimmer { width: 200%; }

	&__support { width: 70%; }

	&__spenden { width: 75%; }

	&__superhero { width: 60%; }

	&__lernpfad { width: 90%; }

	&__verein { width: 80%; }

	&__social {
		stroke: $platinum;
		text-decoration: none;
		width: 4rem;

		&:not(:last-child) { margin-right: 2rem; }
	}

	&__snipcart { width: 3.5rem; }

	&__triangle {
		fill: $white;
		width: 1.5rem
	}

	&__article {
		width: 20rem;

		&--icon {
			fill: $orange;
			stroke: $black;

			&:hover,
			&:active {
				fill: $chestnut;
				stroke: $chestnut;
			}
		}

		&--stroke {
			&:hover,
			&:active { stroke: $orange; }
		}
	}

	&__volume {
		width: 3rem;
		margin-right: .5rem;
	}

	&__fdw-intro { width: 80%; }

	&__search {
		width: 3rem;
		background-color: $color-white;
		border: 2px solid $jonquil;
		border-right: 0;
		padding: .3rem;

		&--jonquil {
			border: .2rem solid $jonquil;
			border-right: 0;
		}

		&--celadon {
			border: 2px solid $celadon;
			border-right: 0;
		}
	}

	&__quote { width: 5rem; }
}
