.testimonial {
	position: relative;
	text-align: center;

	&__logo {

	}

	&__chunk {
		width: 100%;
		position: absolute;
		top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	&__quote {
		font-style: italic;
	}

	// &__quotee,
	&__company { font-weight: bold; }
}
