.map {
	width: 100%;
	margin-top: 3rem;

	&__continent { fill: $silver; }

	&__label {
		display: none;
		font-size: 4rem;
		font-family: $font-spartan;
		height: 5.5rem;
		padding: 2rem;

		&--white { fill: $white; }
		&--black { fill: $black; }
	}

	&--oceania {
		&:hover { fill: $celadon; }

		&-rect {
			fill: $verdigris;
			width: 19rem;
			x: -8.4rem;
			y: 9rem;
		}

		&-text { transform: translate(-7rem, 13rem); }
	}

	&--africa {
		&:hover { fill: $pink; }

		&-rect {
			fill: $space-cadet;
			width: 14rem;
			x: 6rem;
			y: 7rem;
		}

		&-text { transform: translate(7.5rem, 11rem); }
	}

	&--europe {
		&:hover { fill: $jonquil; }

		&-rect {
			fill: $pink;
			width: 14.5rem;
			x: 10rem;
			y: 4rem;
		}

		&-text { transform: translate(11rem, 8rem); }
	}

	&--namerica {
		&:hover { fill: $orange; }

		&-rect {
			fill: $chestnut;
			width: 26rem;
			x: 10rem;
			y: 13rem;
		}

		&-text { transform: translate(11.5rem, 17rem); }
	}

	&--antarctica {
		&:hover { fill: $chestnut; }

		&-rect {
			fill: $orange;
			width: 20rem;
			x: 35rem;
			y: 0;
		}

		&-text { transform: translate(36.5rem, 4rem); }
	}

	&--asia {
		&:hover { fill: $space-cadet; }

		&-rect {
			fill: $jonquil;
			width: 12.5rem;
			x: 18rem;
			y: 13rem;
		}

		&-text { transform: translate(19.5rem, 17rem); }
	}

	&--samerica {
		&:hover { fill: $verdigris; }

		&-rect {
			fill: $celadon;
			width: 24rem;
			x: 22rem;
			y: 42rem;
		}

		&-text { transform: translate(23.5rem, 46rem); }
	}

	&--namerica,
	&--samerica,
	&--europe,
	&--asia,
	&--oceania,
	&--africa,
	&--antarctica {

		&:hover,
		&:active { .map__label { display: block; } }
	}

	@include respond(tab-port-sm) { display: none; }

	&__globe {
		width: 15rem;
		height: 15rem;
		filter: drop-shadow(.8rem .8rem rgba(42, 96, 152, 0.65));
		margin-top: 3rem;
		display: none;

		&:not(:last-child) { margin-right: 3rem; }

		&:hover {
			transform: translateY(-1rem);
			filter: drop-shadow(1.1rem 1.1rem rgba(42, 96, 152, 0.65));
		}

		&:active {
			transform: translateY(.5rem);
			filter: drop-shadow(.5rem .5rem rgba(42, 96, 152, 0.65));
		}

		@include respond(tab-port-sm) { display: block; }

		&-container {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
}
