*,
*::after,
*::before {
	margin: 0;
	paddin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(tab-land) { font-size: 56.25%; }

	@include respond(tab-port-xl) { font-size: 50%; }
}

body {
	box-sizing: border-box;
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration { display: none; }
}

section {
	margin-bottom: $margin-m;

	@include respond(tab-port-sm) { margin-bottom: $margin-s; }
}
