body {
	font-family: 'Lato', sans-serif;
	font-size: $font-small;
	font-weight: 400;
	line-height: 1.6;
}

// -----------------------------------------------
// COMPONENTS
// -----------------------------------------------
/* ----- HEADINGS ------ */
.heading {
	font-family: $font-patrick, $font-fallback;
	font-size: $font-heading;
	text-transform: uppercase;
	margin-bottom: $margin-s;

	&__secondary {
		border-bottom: 4px solid $color-black;
		line-height: normal;
	}

	&__tertiary {
		color: $color-white;
		background-color: $color-black;
		padding: 0 1rem;
		display: inline-block;
	}
}

/* ----- CARD ------ */
.card {

	&:link,
	&:visited {
		text-decoration: none;
		color: $color-black;
	}

	&:hover,
	&:active { color: $color-white; }

	&__content {

		&-title {
			font-family: $font-patrick, $font-fallback;
			font-size: $font-big;
			font-weight: 700;
			text-align: justify;

			&--highlight {
				font-family: $font-patrick, $font-fallback;
				font-size: $font-heading;
			}
		}

		&-date {
			font-weight: 300;

			&--highlight {
				font-size: $font-default;
				font-weight: 300;
			}
		}
	}
}

/* ----- BUTTONS ------ */
.btn {
	font-family: $font-patrick, $font-fallback;
	font-size: $font-big;

	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		color: inherit;
	}

	&:hover,
	&:active { color: $color-white; }

	&--verein { font-size: $font-bigger; }

	&-submit {
		font-size: inherit;
		text-transform: uppercase;

		&--nav { color: $social-base; }

		&--footer {
			font-family: 'Lato', sans-serif;
			color: $chinder-platinum;
		}
	}
}

/* ----- PROFILE ------ */
.profile {

	&__content { text-align: center; }

	&__name,
	&__title { font-family: $font-patrick, $font-fallback; }

	&__name {
		font-size: $font-big;
		color: $chinder-orange;
	}

	&__title {
		font-size: $font-default;
		color: $chinder-verdigris;
	}
}


// -----------------------------------------------
// LAYOUTS
// -----------------------------------------------

/* ----- NAVBAR ------ */
.nav {
	font-family: $font-patrick, $font-fallback;
	font-size: $font-default;

	&__notice {

		&-content {
			text-transform: uppercase;
			font-weight: 700;
		}

		&-link {
			color: $color-white;
			font-weight: 300;
		}
	}

	&__logo {

		&-group { text-decoration: none; }

		&-text {

			&--main {
				font-size: 4rem;
				color: $chinder-orange;
				text-transform: uppercase;
				letter-spacing: 1.2rem;
			}

			&--sub {
				font-size: $font-small;
				color: $color-black;
				letter-spacing: .3rem;
				margin-top: -1.5rem;
			}
		}
	}

	&__menu {

		&-link:link,
		&-link:visited {
			text-decoration: none;
			color: $color-white;
		}
	}
}

/* ----- FOOTER ------ */
.footer {

	&__column {
		color: $chinder-platinum;

		&--heavy {
			font-weight: 700;
			text-transform: uppercase;
		}

		&-link {
			text-decoration: none;
			color: $chinder-platinum;
		}
	}

	&__chinderzytig {

		&-text {
			font-family: $font-patrick, $font-fallback;
			font-size: $font-bigger;
			color: $chinder-platinum;
			text-transform: uppercase;
			letter-spacing: .5rem;
		}
	}
}

// -----------------------------------------------
// PARTIALS
// -----------------------------------------------

/* ----- NEWSLETTER ------ */
.newsletter {

	&--nav,
	&--footer {
		input[type=email],
		input[type=email]::placeholder {
			color: inherit;
			font-family: inherit;
			font-size: inherit;
		}
	}

	&--nav {
		color: $social-base;
		font-size: $font-default;
	}

	&--footer { color: $chinder-platinum; }

	&__heading { text-transform: uppercase; }

	&__group {

		&-label { font-size: 1.2rem; }
	}
}

/* ----- SUPPORT US ------ */
.support {

	&__options {

		&-info { font-weight: 700; }

		&-divider {
			font-family: $font-patrick, $font-fallback;
			font-size: $font-bigger;
			text-transform: uppercase;
			color: $color-white;
		}
	}
}

// -----------------------------------------------
// PAGES
// -----------------------------------------------

/* ----- ABONNEMENTE ------ */
.abonnemente {

	&__duration {
		text-align: center;
		font-weight: 700;
	}

	&__card {

		&-tag {
			font-weight: 700;
			color: $color-white;
			text-transform: uppercase;
		}

		&-info {
			font-weight: 100;
			text-align: center;
		}

		&-price { text-transform: uppercase; }
	}
}

.abonnemente-print {

	&__container {
		font-weight: 100;
		text-align: justify;
	}

	&__heading { color: $chinder-orange; }
}

/* ----- FOKUS DER WOCHE ------ */
.fdw {

	&__intro {

		&-text {
			font-size: 2rem;
			text-align: justify;
		}
	}
}

/* ----- ÜBER UNS ------ */
.about {

	&__others {

		&-heading {
			font-family: $font-patrick, $font-fallback;
			font-size: $font-bigger;
			color: $chinder-orange;
		}
	}
}

/* ----- UNSERE GESCHICHTE ------ */
.geschichte {

	p { text-align: justify; }

	a {
		text-decoration: none;
		color: $chinder-verdigris;

		a:link,
		a:visited { color: $chinder-verdigris; }
	}

	h3 {
		font-family: $font-patrick, $font-fallback;
		font-size: $font-bigger;
		color: $chinder-orange;
	}
}

/* ----- UNSERE QUELLEN ------ */

.quellen {

	&__media {

		&-text { font-weight: 100; }
	}

	&__other {

		&-text {
			font-weight: 100;
			text-align: justify;
		}
	}
}

/* ----- DER VEREIN ------ */
.verein {

	&__history-quote {
		font-family: $font-patrick, $font-fallback;
		font-size: 5rem;
		word-spacing: 1rem;
		letter-spacing: .5rem;
		text-decoration: $chinder-orange underline;
	}
}
