body {
	font-family: $font-andika;
	font-size: $font-default;
	font-weight: 100;
	line-height: 1.6;
}

/* ----- LINKS ------ */
.link {

	&--general {
		&:link,
		&:visited { color: $verdigris; }
	}
}

/* ----- HEADINGS ------ */
.deading {
	font-family: $font-amatic;
	font-size: 5rem;
	line-height: 5rem;
	margin-bottom: $margin-s;

	&__list { margin-bottom: 0; }

	&__cta { @include respond(phone-land-lg) { text-align: center; } }

	&__article {
		@extend .deading;
		font-size: 4.5rem;
		margin-bottom: 2rem;
	}

	&__center { text-align: center; }

	&--white { color: $white; }

	&--black { color: $black; }
}
