{{define "main"}}
	<section class="abonnemente">
		<h2 class="heading heading__secondary">Abonnemente</h2>
		<p class="abonnemente__intro">
			Die Chinderzytig ist bestrebt, das Alltagsgeschehen für Kinder und
			Jugendliche in einer einfachen Sprache anzubieten und mit Arbeitsmaterial
			für den Schul- und Fernunterricht zu ergänzen. Wir bieten Wissen - einfach
			verpackt. Kinder und Jugendliche können auf chinderzytig.ch erfahren,
			was auf der Welt gerade geschieht und somit ihr Wissen vertiefen. Damit
			unterstützen wir die individuelle Meinungsbildung und bieten eine
			spannende Plattform für die allgemeine Leseförderung. Für die aufgeweckte
			Gesellschaft von morgen!
		</p>
		<div class="abonnemente__container">
			<div class="abonnemente__without">
				<div class="abonnemente__heading">
					<h2 class="heading heading__tertiary">Ohne Arbeitsmaterial</h2>
				</div>
				<div class="abonnemente__overview">
					<p class="abonnemente__duration">
						Sie erhalten während der 39 Schulwochen zweimal wöchentlich direkt in
						Ihre Mailbox:
					</p>
					<div class="abonnemente__breakdown">
						<div class="abonnemente__inclusion">
							<span class="abonnemente__inclusion-icon">
								{{ partial "svgs/check_svg.html" (dict "fill" "#EC633F" "width" 25 "height" 25) }}
							</span>
							<span class="abonnemente__inclusion-item">
								2 Artikel zum allgemeinen Weltgeschehen
							</span>
						</div>
						<div class="abonnemente__inclusion">
							<span class="abonnemente__inclusion-icon">
								{{ partial "svgs/check_svg.html" (dict "fill" "#EC633F" "width" 25 "height" 25) }}
							</span>
							<span class="abonnemente__inclusion-item">
								1 Fokus der Woche zu einem aktuellen und brandheissen Thema
							</span>
						</div>
						<div class="abonnemente__inclusion">
							<span class="abonnemente__inclusion-icon">
								{{ partial "svgs/cross_svg.html" (dict "fill" "#EC633F" "width" 25 "height" 25) }}
							</span>
							<span class="abonnemente__inclusion-item">
								2 Arbeitsmaterialien mit unterschiedlichen Niveaus, passend zu
								den Artikeln als Word- oder PDF-Dokumente
							</span>
						</div>
					</div>
				</div>
				<div class="abonnemente__options">
					<div class="abonnemente__card-container">
						<div class="abonnemente__card-tag abonnemente__card-tag--hidden">Bestseller</div>
						<div class="abonnemente__card abonnemente__card--standard">
							<h3 class="abonnemente__card-title">Einzelteilnehmer</h3>
							<p class="abonnemente__card-info">
								Perfekt für Privatpersonen oder Lehrpersonen.
							</p>
							<h3 class="abonnemente__card-price">Jetzt CHF 40</h3>
							<div class="abonnemente__card-btn">
								<a href="#" class="btn btn--secondary">Selektieren</a>
							</div>
						</div>
					</div>
					<div class="abonnemente__card-container">
						<div class="abonnemente__card-tag abonnemente__card-tag--hidden">Bestseller</div>
						<div class="abonnemente__card abonnemente__card--standard">
							<h3 class="abonnemente__card-title">Andere Teilnehmer</h3>
							<p class="abonnemente__card-info">
								Perfekt für Schulen, Institutionen, und Firmen.
							</p>
							<h3 class="abonnemente__card-price">Jetzt CHF 140</h3>
							<div class="abonnemente__card-btn">
								<a href="#" class="btn btn--secondary">Selektieren</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="abonnemente__with">
				<div class="abonnemente__heading">
					<h2 class="heading heading__tertiary">Mit Arbeitsmaterial</h2>
				</div>
				<div class="abonnemente__overview">
					<p class="abonnemente__duration">
						Sie erhalten während der 39 Schulwochen zweimal wöchentlich direkt in
						Ihre Mailbox:
					</p>
					<div class="abonnemente__breakdown">
						<div class="abonnemente__inclusion">
							<span class="abonnemente__inclusion-icon">
								{{ partial "svgs/check_svg.html" (dict "fill" "#30AFAA" "width" 25 "height" 25) }}
							</span>
							<span class="abonnemente__inclusion-item">
								2 Artikel zum allgemeinen Weltgeschehen
							</span>
						</div>
						<div class="abonnemente__inclusion">
							<span class="abonnemente__inclusion-icon">
								{{ partial "svgs/check_svg.html" (dict "fill" "#30AFAA" "width" 25 "height" 25) }}
							</span>
							<span class="abonnemente__inclusion-item">
								1 Fokus der Woche zu einem aktuellen und brandheissen Thema
							</span>
						</div>
						<div class="abonnemente__inclusion">
							<span class="abonnemente__inclusion-icon">
								{{ partial "svgs/check_svg.html" (dict "fill" "#30AFAA" "width" 25 "height" 25) }}
							</span>
							<span class="abonnemente__inclusion-item">
								2 Arbeitsmaterialien mit unterschiedlichen Niveaus, passend zu
								den Artikeln als Word- oder PDF-Dokumente
							</span>
						</div>
					</div>
				</div>
				<div class="abonnemente__options">
					<div class="abonnemente__card-container">
						<div class="abonnemente__card-tag abonnemente__card-tag--hidden">Bestseller</div>
						<div class="abonnemente__card abonnemente__card--standard">
							<h3 class="abonnemente__card-title">Einzelteilnehmer</h3>
							<p class="abonnemente__card-info">
								Perfekt für Privatpersonen oder Lehrpersonen.
							</p>
							<h3 class="abonnemente__card-price">Jetzt CHF 60</h3>
							<div class="abonnemente__card-btn">
								<a href="#" class="btn btn--primary">Selektieren</a>
							</div>
						</div>
					</div>
					<div class="abonnemente__card-container">
						<div class="abonnemente__card-tag">Bestseller</div>
						<div class="abonnemente__card abonnemente__card--bestseller">
							<h3 class="abonnemente__card-title">Andere Teilnehmer</h3>
							<p class="abonnemente__card-info">
								Perfekt für Schulen, Institutionen, und Firmen.
							</p>
							<h3 class="abonnemente__card-price">Jetzt CHF 280</h3>
							<div class="abonnemente__card-btn">
								<a href="#" class="btn btn--primary">Selektieren</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="abonnemente-print">
		<div class="abonnemente-print__container">
			<div class="abonnemente-print__group">
				<h3 class="abonnemente-print__heading">Produktinfo</h3>
				<p class="abonnemente-print__text">
					Hochwertige Artikel nach 4-Augen-Prinzip durch Journalisten,
					Kommunikationsspezialisten und Pädagogen geprüft. Die Arbeitsmaterialien
					entstehen durch erfahrene Lehrpersonen und Unterstützung durch die PHBern.
					So wird der Qualitätsstandard gewährleistet.
				</p>
			</div>
			<div class="abonnemente-print__group">
				<h3 class="abonnemente-print__heading">Rückgabebedinungen</h3>
				<p class="abonnemente-print__text">
					Keine Rückgabe notwendig. Allerdings sind wir froh, wenn wir Feedback
					erhalten - Lob oder Verbesserungsvorschläge sind erwünscht! Wir
					versuchen, für das Wohl der Kinder und Jugendlichen zu arbeiten, so
					teilen Sie uns bitte mit, was fehlt oder anders gemacht werden sollte.
				</p>
			</div>
			<div class="abonnemente-print__group">
				<h3 class="abonnemente-print__heading">Versandinfo</h3>
				<p class="abonnemente-print__text">
					Wir senden die Artikel an Ihre Email-Adressen. Die Dokumente sind
					unverschlüsselt. Da wir als kleiner Verein auf Ehrlichkeit angewiesen
					sind, vertrauen wir Ihnen, dass, im Fall der Weiterleitung, an unsere
					Finanzen gedacht wird und allenfalls zusätzliche Ausgaben getätigt
					werden. Herzlichen Dank!
				</p>
			</div>
		</div>
	</section>
{{end}}
