{{define "main"}}
	<section class="abonnemente">
		<h2 class="heading heading__secondary">Abonnemente</h2>
		<p class="abonnemente__intro">
			Die Chinderzytig ist bestrebt, das Alltagsgeschehen für Kinder und
			Jugendliche in einer einfachen Sprache anzubieten und mit Arbeitsmaterial
			für den Schul- und Fernunterricht zu ergänzen. Wir bieten Wissen - einfach
			verpackt. Kinder und Jugendliche können auf chinderzytig.ch erfahren,
			was auf der Welt gerade geschieht und somit ihr Wissen vertiefen. Damit
			unterstützen wir die individuelle Meinungsbildung und bieten eine
			spannende Plattform für die allgemeine Leseförderung. Für die aufgeweckte
			Gesellschaft von morgen!
		</p>
		<p class="abonnemente__duration">
			Sie erhalten während der 39 Schulwochen zweimal wöchentlich direkt in
			Ihre Mailbox:
		</p>
		<div class="abonnemente__container">
			{{ range .Site.Data.pages.abonnemente.breakdown }}
				<div class="abonnemente__option">
					<div class="abonnemente__heading">
						<h2 class="heading heading__tertiary">{{ .heading }} Arbeitsmaterial</h2>
					</div>
					<div class="abonnemente__breakdown">
						{{ range .inclusions }}
							<div class="abonnemente__breakdown-item">
								<span class="abonnemente__breakdown-icon">
									{{ partial "svgs/check_svg.html" (dict "fill" .color "width" 25 "height" 25) }}
								</span>
								<span class="abonnemente__breakdown-text">{{ .inclusion }}</span>
							</div>
						{{ end }}
					</div>
					<img src="{{ $.Site.Params.cloudinary_url }}/c_scale,h_250,q_auto:good/logos/{{ .img }}" alt="{{ .alt }}" class="abonnemente__img">
					{{ range .btn }}
						<button class="btn btn--{{ .class }} abonnemente__cta snipcart-add-item"
							data-item-id="{{ .id }}"
							data-item-price="{{ .price }}"
							data-item-url="{{ $.RelPermalink }}"
							data-item-description="Einzelteilnehmer: Perfekt für Privatpersonen oder Lehrpersonen. Andere Teilnehmer: Perfekt für Schulen, Institutionen, und Firmen."
							data-item-image="{{ $.Site.Params.cloudinary_url }}/logos/chinder_main_qwvki2.png"
							data-item-name="{{ .item_name }}"
							data-item-custom1-name="Abonnementtyp"
							data-item-custom1-options="{{ .custom_options }}">
							Auswählen
						</button>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</section>
	<section class="abonnemente__print">
		{{ range .Site.Data.pages.abonnemente.print }}
			<div class="abonnemente__print-group">
				<h5 class="abonnemente__print-heading">{{ .heading }}</h5>
				<p class="abonnemente__print-text">{{ .text }}</p>
			</div>
		{{ end }}
	</section>
{{end}}
