{{define "main"}}
	<section class="taxonomy">
		<h3 class="heading heading--taxonomy">Artikel Kategorien</h3>
		<div class="taxonomy__markers">
			{{range $name, $taxonomy := .Site.Taxonomies.kategorien}}
				{{ with $.Site.GetPage (printf "/kategorien/%s" $name) }}
					<a href="{{ .Permalink }}" class="marker marker--list">{{ humanize $name }}</a>
				{{end}}
			{{end}}
		</div>
	</section>

	<section class="card__list">
		<h2 class="heading heading__secondary">{{ .Title }}</h2>
		<div class="card__container">
			{{ $artikel := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
			{{ range $artikel.ByTitle }}
				<a href="{{.RelPermalink}}" class="card card--grey">
					<div style="background:url({{ .Site.Params.cloudinary_url }}/c_scale,h_170,w_300,q_auto:good/{{ .Params.hero_img }})" class="card__photo"></div>
					<div class="card__content">
						<h3 class="card__content-title">{{ .Title }}</h3>
						<div class="card__content-date">{{ .Date.Format .Site.Params.DateForm }}</div>
					</div>
				</a>
			{{ end }}
		</div>
	</section>
{{ end }}
