{{define "main"}}
	<section class="abonnemente">
		<h1 class="heading heading__content--primary">Abonnemente</h1>
		<h4 class="heading heading__content--quaternary">Wir bieten Wissen - einfach verpackt</h4>
		<p class="abonnemente__intro">
			Die Chinderzytig ist bestrebt, das Alltagsgeschehen für Kinder und
			Jugendliche in einer einfachen Sprache anzubieten und mit Arbeitsmaterial
			für den Schul- und Fernunterricht zu ergänzen. Wir bieten Wissen - einfach
			verpackt. Kinder und Jugendliche können auf chinderzytig.ch erfahren,
			was auf der Welt gerade geschieht und somit ihr Wissen vertiefen. Damit
			unterstützen wir die individuelle Meinungsbildung und bieten eine
			spannende Plattform für die allgemeine Leseförderung. Für die aufgeweckte
			Gesellschaft von morgen!
		</p>
		<div class="abonnemente__pricing">
			<div class="pricing__info">
				{{ range .Site.Data.pages.abonnemente.pricing }}
					<div class="pricing__product">
						<div class="pricing__name">{{ .name }}</div>
						<div class="pricing__type">{{ .type }}</div>
						<ul class="pricing__offersheet">
							{{ range .offersheet }}
								<li class="pricing__inclusion">{{ .inclusion }}</li>
							{{ end }}
						</ul>
						<div class="pricing__amount">
							<div class="pricing__number">{{ .number }}</div>
							<div class="pricing__target">{{ .target }}</div>
						</div>
						{{ range .btn }}
							<button class="btn btn--pricing pricing__button snipcart-add-item"
								data-item-id="{{ .id }}"
								data-item-price="{{ .price }}"
								data-item-url="{{ $.RelPermalink }}"
								data-item-description="Einzelteilnehmer: Perfekt für Privatpersonen oder Lehrpersonen. Andere Teilnehmer: Perfekt für Schulen, Institutionen, und Firmen."
								data-item-image="{{ $.Site.Params.cloudinary_url }}/logos/chinder_main_qwvki2.png"
								data-item-name="{{ .item_name }}"
								data-item-custom1-name="Abonnementtyp"
								data-item-custom1-options="{{ .custom_options }}">
									{{ .label }}
							</button>
						{{ end }}
						{{ range .hyper }}
							<a href="{{ .link }}" class="btn btn--pricing btn--pricing-narrow pricing__button">{{ .label }}</a>
						{{ end }}
					</div>
				{{ end }}
			</div>
		</div>
		<p class="pricing__fineprint">
			<span class="pricing__fineprint--bold">Produktinfo:</span> Hochwertige
			Artikel nach 4-Augen-Prinzip durch Journalisten, Kommunikationsspezialisten
			und Pädagogen geprüft. Die Arbeitsmaterialien entstehen durch erfahrene
			Lehrpersonen und Unterstützung durch die PHBern. So wird der Qualitätsstandard
			gewährleistet. <span class="pricing__fineprint--bold">Rückgabebedinungen:</span>
			Keine Rückgabe notwendig. Allerdings sind wir froh, wenn wir Feedback
			erhalten - Lob oder Verbesserungsvorschläge sind erwünscht! Wir versuchen,
			für das Wohl der Kinder und Jugendlichen zu arbeiten, so teilen Sie uns
			bitte mit, was fehlt oder anders gemacht werden sollte.
			<span class="pricing__fineprint--bold">Versandinfo:</span> Wir senden die
			Artikel an Ihre Email-Adressen. Die Dokumente sind unverschlüsselt. Da wir
			als kleiner Verein auf Ehrlichkeit angewiesen sind, vertrauen wir Ihnen,
			dass, im Fall der Weiterleitung, an unsere Finanzen gedacht wird und
			allenfalls zusätzliche Ausgaben getätigt werden. Herzlichen Dank!
		</p>
	</section>
{{end}}
