{{ define "main" }}
	<section class="document__container">
		<h2 class="heading heading__secondary">arbeitsmaterial</h2>
		<div class="card__container">
			{{ $arbeitsmaterial := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
			{{ range $arbeitsmaterial.ByTitle }}
				{{ if .Params.arbeitsmaterial }}
					<div class="document__card card__hidden">
						<h3 class="document__card-title">{{ .Params.title }}</h3>
						<div class="document__card--arbeitsmaterial">
							<img src="{{ .Site.Params.cloudinary_url }}/bo_2px_solid_rgb:000000,c_scale,h_200,q_auto:best/{{ .Params.arbeitsmaterial }}.png" alt="Arbeitsmaterial cover" class="document-sc__file">
							<div class="document__card-btns">
								<a href="{{ .Permalink }}" class="btn btn--primary document__card-btn">Artikel</a>
								<a href="{{ .Site.Params.cloudinary_url }}/{{ .Page.Params.arbeitsmaterial }}.pdf"
									target="_blank"
									class="btn btn--secondary document__card-btn">
									PDF
								</a>
							</div>
						</div>
					</div>
				{{ end }}
			{{ end }}
			<div class="card card__buffer"></div>
		</div>
		<div class="btn__container">
			<a href="#" class="btn btn--primary" id="loadMore">Mehr Arbeitsmaterial</a>
		</div>
	</section>
{{ end }}
