{{ define "main" }}
	<section class="arbeitsmaterial__container">
		<h2 class="heading heading__secondary">arbeitsmaterial</h2>
		<div class="card__container">
			{{ $arbeitsmaterial := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
			{{ range $arbeitsmaterial.ByTitle }}
				{{ if isset .Params "arbeitsmaterial" }}
					<div class="arbeitsmaterial__card card__hidden">
						<div class="arbeitsmaterial__card-upper">
							<h3 class="arbeitsmaterial__card-title">{{ .Params.title }}</h3>
						</div>
						<div class="arbeitsmaterial__card-lower">
							<img src="{{ .Site.Params.cloudinary_url }}/bo_2px_solid_rgb:000000,c_scale,h_200,q_auto:best/{{ .Params.arbeitsmaterial }}.png" alt="Arbeitsmaterial cover" class="arbeitsmaterial-sc__file">
							<div class="arbeitsmaterial__card-btns">
								<a href="{{ .Permalink }}" class="btn btn--primary arbeitsmaterial__card-btn">Artikel</a>
								<a href="{{ .Site.Params.cloudinary_url }}/{{ .Page.Params.arbeitsmaterial }}.pdf"
									target="_blank"
									class="btn btn--secondary arbeitsmaterial__card-btn">
									PDF
								</a>
							</div>
						</div>
					</div>
				{{ end }}
			{{ end }}
			<div class="card card__buffer"></div>
		</div>
		<div class="btn__container">
			<a href="#" class="btn btn--primary" id="loadMore">Mehr Arbeitsmaterial</a>
		</div>
	</section>
{{ end }}
