{{ define "main" }}
	<div class="cta cta--platinum">
		<h2 class="heading heading__list heading--black">Arbeitsmaterial</h2>
		<div class="cta__container cta__container--card-list">
			{{ $arbeitsmaterial := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
			{{ range $arbeitsmaterial.ByDate.Reverse }}
				{{ if .Params.arbeitsmaterial }}
					<a href="{{ .Site.Params.cloudinary_url }}/{{ .Params.arbeitsmaterial }}.pdf" target="_blank" class="card card__port card--silver card--bg-cultured">
						<div class="card__img-container">
							<img src="{{ .Site.Params.cloudinary_url }}/c_scale,h_200,q_auto:best/{{ .Params.arbeitsmaterial }}.png"
							alt="Arbeitsmaterial cover"
							class="card__port-img card__port-img--pdf"
							/>
						</div>
						<div class="card__port-content">
							<div class="card__content-bulk">
								<h4 class="card__port-category card__category card__category--fdw">PDF</h4>
								<h3 class="card__port-title">{{ .Params.Title }}</h3>
							</div>
							<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
						</div>
					</a>
				{{ end }}
			{{ end }}
			<div class="card__port card__ghost"></div>
		</div>
	</div>
{{ end }}
