{{ define "main" }}
<div class="cta">
	<div class="cta__container cta__container--column-reverse">
		<div class="cta__info cta__info--column">
			<h2 class="deading deading__center deading--black">
				Vielen Dank, dass Sie mit Chinderzytig Kontakt aufgenommen haben.
			</h2>
			<p class="cta__text cta__text--column">
				Wir wollten dich nur wissen lassen, dass wir deine Nachricht erhalten
				haben und uns so schnell wie möglich bei dir melden werden.
			</p>
			<a href="/" class="btn btn__space btn--jonquil">
				<span>Rückkehr nach Hause</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
		<div class="cta__svg">
			{{ partial "svgs/nachricht.html" }}
		</div>
	</div>
</div>
{{ end }}
