{{ define "main" }}
<div class="cta cta__info">
	<div class="cta__text">
		<h2 class="deading deading__cta deading--black">
			Vielen Dank, dass Sie mit Chinderzytig Kontakt aufgenommen haben.
		</h2>
		<p class="cta__chunk">
			Wir wollten dich nur wissen lassen, dass wir deine Nachricht erhalten
			haben und uns so schnell wie möglich bei dir melden werden.
		</p>
		<a href="/" class="mtn mtn__space mtn--jonquil">
			<span>Bringen sie mich zurück nach Hause</span>
			{{ partial "svgs/arrow-right.html" }}
		</a>
	</div>
	<div class="cta__svg">
		{{ partial "svgs/nachricht.html" }}
	</div>
</div>
{{ end }}
