{{define "main"}}
	<section class="fdw cta--seashell u-margin-bottom-m">
		<div class="fdw__intro u-container-main">
			<div class="fdw__intro-icon">
				{{- partial "fdw_icon.html" . -}}
			</div>
			<p class="fdw__intro-text">
					Der Fokus der Woche (FdW) erlaubt uns einen Blick durch die Lupe auf
					aktuelle Geschehnisse der Woche. Wir beleuchten ein Thema, geben
					unsere Meinung als Diskussionsgrundlage und stellen Fragen. Es ist
					nicht die Idee, das Thema im Sinne einer Reportage tiefgründig zu
					erörtern. Wir legen den Daumen drauf, wecken auf, schauen hin und
					animieren die Lesenden zu eigenen Gedankengängen. Und ja: wenn möglich
					mit Good News...
			</p>
		</div>
	</section>
{{end}}
