{{define "main"}}
	<section class="fdw__intro">
		<div class="fdw__intro-container">
			<div class="fdw__intro-icon">
				{{- partial "svgs/fdw_svg.html" . -}}
			</div>
			<p class="fdw__intro-text">
				Der Fokus der Woche (FdW) erlaubt uns einen Blick durch die Lupe auf
				aktuelle Geschehnisse der Woche. Wir beleuchten ein Thema, geben
				unsere Meinung als Diskussionsgrundlage und stellen Fragen. Es ist
				nicht die Idee, das Thema im Sinne einer Reportage tiefgründig zu
				erörtern. Wir legen den Daumen drauf, wecken auf, schauen hin und
				animieren die Lesenden zu eigenen Gedankengängen. Und ja: wenn möglich
				mit Good News...
			</p>
		</div>
	</section>

	<section class="fdw__articles card__list">
		<h2 class="heading heading__secondary">Alle Artikel der Woche</h2>
		<div class="card__container">
			{{ $fdwArtikel := where .Site.Pages ".Params.fdw" true }}
			{{ range $fdwArtikel.ByDate.Reverse }}
				<a href="{{.RelPermalink}}" class="card card--grey card__hidden">
					<div class="card__img-container">
						<img srcset="{{ .Site.Params.cloudinary_url }}/f_auto,h_200,w_300,q_auto:good/{{ .Params.hero_img }},
							{{ .Site.Params.cloudinary_url }}/f_auto,h_180,w_270,q_auto:good/{{ .Params.hero_img }} 1100w,
							{{ .Site.Params.cloudinary_url }}/f_auto,h_167,w_250,q_auto:good/{{ .Params.hero_img }} 900w"
							src="{{ .Site.Params.cloudinary_url }}/f_auto,h_200,w_300,q_auto:good/{{ .Params.hero_img }}"
							alt="{{ .Params.img_description }}"
							class="card__img"
						/>
					</div>
					<div class="card__content">
						<h3 class="card__content-title">{{ .Title }}</h3>
						<div class="card__content-date">{{ .Date.Format .Site.Params.DateForm }}</div>
					</div>
				</a>
			{{ end }}
			<div class="card card__buffer"></div>
		</div>
		<div class="btn__container">
			<a href="#" class="btn btn--primary" id="loadMore">Mehr Artikel</a>
		</div>
	</section>
{{end}}
