{{ define "main" }}
<section class="arbeitsmaterial__container">
	<h2 class="heading heading__secondary">schulprojekte</h2>
	<div class="card__container">
		{{ range .Site.Data.pages.schulprojekte.projekte }}
			<div class="arbeitsmaterial__card card__hidden">
				<div class="arbeitsmaterial__card-upper">
					<h3 class="arbeitsmaterial__card-title">{{ .title }}</h3>
				</div>
				<div class="arbeitsmaterial__card-lower">
					<a href="{{ $.Site.Params.cloudinary_url }}/{{ .document }}.pdf">
						<img src="{{ $.Site.Params.cloudinary_url }}/bo_2px_solid_rgb:000000,c_scale,h_200,q_auto:best/{{ .document }}.png" alt="Schuleprojekte cover" class="arbeitsmaterial-sc__file">
					</a>
				</div>
			</div>
		{{ end }}

		<div class="card card__buffer"></div>
	</div>
	<div class="btn__container">
		<a href="#" class="btn btn--primary" id="loadMore">Mehr Arbeitsmaterial</a>
	</div>
</section>
{{ end }}
