{{define "main"}}
	<section class="breadcrumb__container">
		{{- partial "breadcrumb.html" . -}}
	</section>
	<section class="geschichte">
		<h2 class="heading heading__secondary">Unsere Geschichte</h2>
		<div class="geschichte__logo-container">
			<img srcset="{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_320/logos/Chinderzytig_Jugendzytig_eybgjf.jpg 320w,
				{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_414/logos/Chinderzytig_Jugendzytig_eybgjf.jpg 414w,
				{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_512/logos/Chinderzytig_Jugendzytig_eybgjf.jpg 512w,
				{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_600/logos/Chinderzytig_Jugendzytig_eybgjf.jpg 600w"
				sizes="(min-width: 900px) 800px, 100vw"
				src="{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_800/logos/Chinderzytig_Jugendzytig_eybgjf.jpg"
				alt="Chinderzytig/Jungendzytig logo"
				class="geschichte__img"/>
		</div>
		{{.Content}}
		<div class="geschichte__pdf-group">
			<div class="geschichte__pdf-container">
				<a href="{{ .Site.Params.cloudinary_url }}/Kurzübersicht_Gesamtprojekt_Mana_202108_i8yrt5.pdf" target="_blank" class="geschichte__pdf-link">
					<img src="{{ .Site.Params.cloudinary_url }}/bo_1px_solid_rgb:000000/c_scale,h_300,q_auto:best/Kurzübersicht_Gesamtprojekt_Mana_202108_i8yrt5.png" alt="Mana Vision PDF">
				</a>
				<a href="https://explore-mana.org" target="_blank" class="geschichte__pdf-link"><div class="geschichte__pdf-title">Vision Mana</div></a>
			</div>
			<div class="geschichte__pdf-container">
				<a href="{{ .Site.Params.cloudinary_url }}/jahresbericht_2021_gixsjl.pdf" target="_blank" class="geschichte__pdf-link">
					<img src="{{ .Site.Params.cloudinary_url }}/bo_1px_solid_rgb:000000/c_scale,h_300,q_auto:best/jahresbericht_2021_gixsjl.png" alt="Jahresbericht 2021 PDF">
				</a>
				<div class="geschichte__pdf-title">Jahresbericht 2021</div>
			</div>
		</div>
	</section>
{{end}}
