{{define "main"}}
	<section class="breadcrumb__container">
		{{- partial "breadcrumb.html" . -}}
	</section>
	<section class="quellen__media">
		<div class="quellen__media-intro">
			<h2 class="heading heading__secondary">Unsere Quellen</h2>
			<p class="quellen__media-text">
				Wir beziehen unsere Informationen primär aus dem Internet und aus
				Printmedien. 99% der Informationen stammen von:
			</p>
		</div>
		<div class="quellen__logos">
			<div class="quellen__logos-container">
				{{ range .Site.Data.pages.quellen.media }}
					<a href="{{ .website }}" target="_blank" class="quellen__logos-link">
					{{ range .logo }}
						<img srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,h_60,q_auto:good/logos/{{ .img }} 511w"
							sizes="(min-width: 767px) 35vw, 75vw"
							src="{{ $.Site.Params.cloudinary_url }}/c_scale,h_60,q_auto:good/logos/{{ .img }}"
							alt="{{ .desc }}"
							class="quellen__logos-logo">
					{{ end }}
					</a>
				{{ end }}
			</div>
		</div>
	</section>
	<section class="quellen__other">
		<div class="quellen__other-container">
			<img srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,h_80,q_auto:good/logos/swiss_gov_julv3s.png 511w"
				sizes="(min-width: 767px) 30vw, 100vw"
				src="{{ $.Site.Params.cloudinary_url }}/f_auto,h_80,q_auto:good/logos/swiss_gov_julv3s.png"
				alt="Swiss Government logo"
				class="quellen__other-logo">
			<div class="quellen__other-divider"></div>
			<p class="quellen__other-text">
				Als zusätzliche Quellen dienen Der Bund kurz erklärt (Publikation der
				Eidgenossenschaft) und Lehrmittel der Schulen des Kantons Bern wie zum
				Beispiel Durch Geschichte zur Gegenwart, Zeitreise 7-9, und Durchblick.
			</p>
			<img srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,h_80,q_auto:good/logos/kanton_bern_bgvmlz.jpg 511w"
				sizes="(min-width: 767px) 30vw, 100vw"
				src="{{ $.Site.Params.cloudinary_url }}/f_auto,h_80,q_auto:good/logos/swiss_gov_julv3s.png"
				alt="Swiss Government logo"
				class="quellen__other-logo">
		</div>
	</section>
	<div>
		<input type="search" />
	</div>
{{end}}
