{{define "main"}}
	<section class="breadcrumb__container">
		{{- partial "breadcrumb.html" . -}}
	</section>
	<section class="geschichte">
		<h2 class="heading heading__secondary">Unsere Geschichte</h2>
		<div class="geschichte__logo-container">
			<img src="https://res.cloudinary.com/chinderzytig/image/upload/c_scale,q_auto:good,w_800/v1597073206/logos/Chinderzytig_Jugenzytig_mmd9rl.png" alt="Chinderzytig/Jungendzytig logo" class="geschichte__img">
		</div>
		{{.Content}}
		<div class="geschichte__pdf-container">
			<a href="https://res.cloudinary.com/chinderzytig/image/upload/v1597063305/chinderzytig_idee_ooy6my.pdf" target="_blank" class="geschichte__pdf-link">
				<img src="https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_300,q_auto:best/v1597063305/chinderzytig_idee_ooy6my.png" alt="">
			</a>
			<div class="geschichte__pdf-title">projektidee_chinderzytig.pdf</div>
		</div>
	</section>
{{end}}
