{{ define "main" }}
{{ partial "kommt-zu-euch.html" }}

{{ partial "pdf-display.html"
	(dict
		"attr" .
		"cta" "verL"
		"color" "white"
		"accent" "celadon"
		"heading" "Mögliche Umsetzungsideen"
		"data" .Site.Data.pages.unterrichtsideen.projekte
	)
}}

{{ partial "possibilities.html" }}

{{ partial "pdf-display.html"
	(dict
		"attr" .
		"cta" "orR"
		"color" "white"
		"accent" "chestnut"
		"heading" "Beispiele aus dem Alltag"
		"data" .Site.Data.pages.unterrichtsideen.zeitungen
	)
}}

	<div class="implementation">
		<h2 class="heading heading__content--secondary">
			Umsetzungsmöglichkeiten der Chinderzytig an Schulen
		</h2>
		<div class="implementation__options">
			<div class="implementation__category implementation__category--free">
				<p class="implementation__title implementation__title--free">Kostenlos</p>
				<ul class="implementation__list implementation__list--free">
					<li class="implementation__item">Benützung der Website</li>
					<li class="implementation__item">Lesen der Artikel</li>
					<li class="implementation__item">Lösen der Arbeitsmaterialien (PDF)</li>
				</ul>
			</div>
			<div class="implementation__category">
				<p class="implementation__title implementation__title--sale">Kostenpflichtig</p>
				<ul class="implementation__list">
					<li class="implementation__item implementation__item--bold">Abonnemente</li>
					<p class="implementation__item-description">
						Lieferdienst: Artikel mit oder ohne Arbeitsmaterial direkt in die
						persönliche Mailbox geliefert. Abonnementpreise zwischen CHF 40.-
						bis CHF 60.- pro Jahr
					</p>
					<li class="implementation__item implementation__item--bold">
						Vielfältige Arbeitsmaterialien
						<span class="implementation__item--special">(Entwicklung im Verlauf des Jahres 2022)</span>
					</li>
					<p class="implementation__item-description">
						Interaktive, vielseitige und digitalisierte Arbeitsmaterialien in
						Zusammenarbeit mit anderen Projektpartnerschaften. Preise und
						konkrete Beispiele folgen in den kommenden Monaten.
					</p>
					<li class="implementation__item implementation__item--bold">Unterrichtsbesuche und -projekte</li>
					<p class="implementation__item-description">
						Unterrichtsbesuche: 2-3 Lektionen zu den Themen Medienbildung,
						Meinungsbildung (Fake News) sowie Erstellung einer Online-Zeitung.
						Möglichkeit der Veröffentlichung einer eigenen Klassen- oder
						Schulzeitung auf der Plattform chinderzytig.ch Investition:
						CHF 100.-/Std., ergibt für 3 Lektionen inkl. Vorbereitung und
						Nachbereitung (inkl. Implementierung auf Website) sowie
						Prozessbegleitung bei Bedarf CHF 350.- pro Unterrichtseinheit
					</p>
					<li class="implementation__item implementation__item--bold">Visible Learning</li>
					<p class="implementation__item-description">
						Sämtliche Chinderzytig-Inhalte sind an den Lehrplan 21 gekoppelt.
						Die Arbeit mit der Chinderzytig kann sichtbar gemacht werden, in
						Zusammenarbeit mit mirroco und Hazu. Preise für Schulen ab CHF 570.-
						pro Jahr. 
					</p>
				</ul>
			</div>
		</div>
	</div>

	<p class="visible__text">
		<span class="visible__text--bold">Nutzen für die Schule</span><br>
		Die Schule profitiert durch moderne, den Bildungsstandards entsprechende und
		auf die Aktualität bezogene Inhalte, die den wichtigsten Personen im
		Bildungsumfeld zu Gute kommen: den Kindern. Schulen erhalten durch
		kostenpflichtige Angebote die Möglichkeit, sich auf eine Partnerschaft mit
		der Chinderzytig einzulassen und auch von der Online-Plattform zu
		profitieren. Lehrpersonen erhalten vielfältige Materialien zu aktuellen
		Themen, aufbereitet durch Profis aus dem Bildungswesen und Journalismus.
		Dies entlastet die Vorbereitungszeit und unterstützt bei individualisierenden
		Gefässen im Unterricht. So bleibt mehr Zeit für das Kerngeschäft: Kontakt
		mit den einzelnen Kindern sowie Förderung in der Wissensvermittlung und der
		Fähigkeit zur individuellen Meinungsbildung. 
	</p>

	<p class="visible__text">
		<span class="visible__text--bold">Nutzen für den Verein Chinderzytig</span><br>
		Durch ihre finanzielle Unterstützung können wir längerfristig planen und ein
		sozialer Arbeitgeber sein. Wir veröffentlichen aktuell 208 Produkte jährlich
		(Artikel und Arbeitsmaterialien). Ihr Beitrag unterstützt uns wie folgt: 
	</p>

	<div class="comparison">
		<div class="comparison__table">
			<div class="comparison__row comparison__row--header">
				<p class="comparison__item comparison__item--header comparison__item--product">Folgendes Angebote...</p>
				<p class="comparison__item comparison__item--header">...finanziert folgende Leistunge</p>
			</div>
			<div class="comparison__row">
				<p class="comparison__item comparison__item--product">Abonnement ohne Arbeitsmaterial à CHF 40.-</p>
				<p class="comparison__item">2 von total 130 Artikeln</p>
			</div>
			<div class="comparison__row comparison__row--shade">
				<p class="comparison__item comparison__item--product">Abonnement mit Arbeitsmaterial à CHF 60.-</p>
				<p class="comparison__item">3 von total 208 Produkten</p>
			</div>
			<div class="comparison__row">
				<p class="comparison__item comparison__item--product">Unterrichtsbesuch kurz, à CHF 350.-</p>
				<p class="comparison__item">
					3 Wochen voller Chinderzytig-Produkte oder Entschädigung der
					administrativen Mitarbeitenden für den Zeitraum von ca. 2 Monaten
				</p>
			</div>
			<div class="comparison__row comparison__row--shade">
				<p class="comparison__item comparison__item--product">Unterrichtsbesuch ausführlich, à CHF 600.-</p>
				<p class="comparison__item">
					6 Wochen voller Chinderzytig-Produkte oder Entschädigung der
					administrativen Mitarbeitenden für den Zeitraum von ca. 4 Monaten
				</p>
			</div>
			<div class="comparison__row">
				<p class="comparison__item comparison__item--product">Visible Learning basic, à CHF 570.-</p>
				<p class="comparison__item">
					28 von 208 Chinderzytig-Produkten oder die Möglichkeit, uns an
					spezifischen Bildungsmessen präsent in Szene setzen zu können
				</p>
			</div>
			<div class="comparison__row comparison__row--shade">
				<p class="comparison__item comparison__item--product">Visible Learning professional, à CHF 970.-</p>
				<p class="comparison__item">
					48 von 208 Produkten, was ca. 3 Monaten Chinderzytig entspricht oder
					ein Halbjahreslohn der Administration
				</p>
			</div>
		</div>
	</div>
</section>
{{ end }}
