{{ define "main" }}

	{{ partial "what-is-pb.html" }}

	{{ partial "pb-and-chinderzytig.html" }}

	{{ partial "data-card.html"
		(dict
			"attr" .
			"cta" "verdigris"
			"headingColor" "white"
			"heading" "Mögliche Umsetzungsideen"
			"flickity" "false"
			"containerType" "card-list"
			"data" .Site.Data.pages.unterrichtsideen.examples
			"shadow" "celadon"
			"bgColor" "cultured"
			"imgClass" "--pdf"
			"ghost" "false"
			"advertise" "false"
		)
	}}

	{{ partial "pb-teachers.html" . }}

	{{ partial "proposition-cta.html" }}

	{{ partial "any-questions-cta.html" }}

{{ end }}
