{{ define "main" }}

	{{ partial "what-is-pb.html" }}

	{{ partial "pb-and-chinderzytig.html" }}

	{{ partial "pdf-purchase-cta.html" (dict
		"attr" .
		"cta" "verdigris"
		"headingColor" "white"
		"textColor" "white"
		)
	}}

	{{ partial "pb-teachers.html" . }}

	{{ partial "pb-thesis" . }}

	{{ partial "data-card.html"
		(dict
			"attr" .
			"cta" "orange"
			"headingColor" "white"
			"heading" "Was sagen Medien über die Chinderzytig?"
			"textColor" "white"
			"text" "Die Chinderzyitg ist in diversen Beiträgen erwähnt worden. Zu entdecken sind sie unter dem Link."
			"flickity" "true"
			"data" .Site.Data.pages.verein.media
			"shadow" "chestnut"
			"bgColor" "cultured"
			"imgClass" ""
			"ghost" "false"
		)
	}}

	{{ partial "sources.html" }}

{{ end }}
