{{define "main"}}
<section class="verein__history">
	<div class="verein__history-quote">
		Die Idee entsprang einem Kinderkopf!
	</div>
	<div class="verein__history-btn">
		<a href="/unsere-geschichte" class="btn btn--primary">Unsere Geschichte</a>
	</div>
</section>

<section class="verein__media">
	<div class="card__list">
		<h2 class="heading heading__tertiary">Chinderzytig in den Medien</h2>
		<div class="card__container">
			<a href="https://www.telebaern.tv/telebaern-news/projekt-chinderzytig-soll-schueler-die-erwachsenenwelt-simpel-erklaeren-136290126" target="_blank" class="card card--grey">
				<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_170,q_auto:good,w_300/v1597815787/logos/telebarn4_dixhjg.png)" class="card__photo"></div>
				<div class="card__content">
					<h3 class="card__content-title">Projekt „Chinderzytig“ soll Schüler die Erwachsenenwelt simpel erklären</h3>
					<div class="card__content-date">27.1.2020</div>
				</div>
			</a>
			<a href="https://res.cloudinary.com/chinderzytig/image/upload/v1597816965/pdfs/berner_schule_npdljk.pdf" target="_blank" class="card card--grey">
				<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_170,q_auto:good,w_300/v1597816619/logos/bildung_bern_swkpb6.jpg)" class="card__photo"></div>
				<div class="card__content">
					<h3 class="card__content-title">Erwachsenenthemen sind für Kinder kein Tabu</h3>
					<div class="card__content-date">19.12.2019</div>
				</div>
			</a>
			<a href="https://www.bielertagblatt.ch/nachrichten/fokus/auch-kinder-wollen-ueber-aktuelle-themen-lesen" target="_blank" class="card card--grey">
				<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_170,q_auto:good,w_300/v1597817375/logos/bieler_tagblatt_rs42yz.jpg)" class="card__photo"></div>
				<div class="card__content">
					<h3 class="card__content-title">«Auch Kinder wollen über aktuelle Themen lesen»</h3>
					<div class="card__content-date">28.11.2019</div>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="verein__btns">
	<div class="verein__btns-group">
		<a href="#" class="btn btn--verein">
			Über Uns
			<span class="btn--verein-arrow">
				{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
			</span>
		</a>
		<a href="#" class="btn btn--verein">
			Unser Beirat
			<span class="btn--verein-arrow">
				{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
			</span>
		</a>
		<a href="#" class="btn btn--verein">
			Unsere Quellen
			<span class="btn--verein-arrow">
				{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
			</span>
		</a>
		<a href="#" class="btn btn--verein">
			Unserer Partner
			<span class="btn--verein-arrow">
				{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
			</span>
		</a>
		<a href="#" class="btn btn--verein">
			Kontaktiere Uns
			<span class="btn--verein-arrow">
				{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
			</span>
		</a>
	</div>
</section>

<section class="verein__thanks">
	<div class="verein__thanks-container">
		<h2 class="heading heading__tertiary">Wir danken</h2>
		<div class="verein__thanks-logos">
			<a href="https://www.migros.ch/de/genossenschaften.html" target="_blank" class="verein__thanks-link">
				<img src="https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_52,q_auto:good,w_284/v1597929687/logos/migros_swxvzo.png" alt="Migros logo" class="verein__thanks-logo">
				<p class="verein__thanks-reason">Benützungserlaubnis der Website</p>
			</a>
			<a href="https://www.phbern.ch/" target="_blank" class="verein__thanks-link">
				<img src="https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_52,q_auto:good/v1597929739/logos/phbern_black_e5tq45.png" alt="Schweizer Medien logo" class="verein__thanks-logo">
				<p class="verein__thanks-reason">Unterstützung kreativer und personeller Art</p>
			</a>
			<a href="https://stiftungschweiz.ch/" target="_blank" class="verein__thanks-link">
				<img src="https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_52,q_auto:good/v1597929919/logos/stiftun_schweiz_x8sv4n.png" alt="Stiftung Schweiz logo" class="verein__thanks-logo">
				<p class="verein__thanks-reason">Finanzielle Unterstützung</p>
			</a>
			<a href="https://www.schweizermedien.ch/" target="_blank" class="verein__thanks-link">
				<img src="https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_52,q_auto:good/v1597929721/logos/sm_colour_l7ueym.png" alt="Schweizer Medien logo" class="verein__thanks-logo">
				<p class="verein__thanks-reason">Kooperation und Ernennung zum offiziellen Netzwerkpartner</p>
			</a>
		</div>
	</div>
</section>
{{end}}
