{{define "main"}}
	<section class="verein__history">
		<div class="verein__history-quote">
			Die Idee entsprang einem Kinderkopf!
		</div>
		<div class="verein__history-btn">
			<a href="/unsere-geschichte" class="btn btn--primary">Unsere Geschichte</a>
		</div>
	</section>

	<section class="verein__media">
		<div class="card__list">
			<h2 class="heading heading__tertiary">Chinderzytig in den Medien</h2>
			<div class="card__container">
				{{ range .Site.Data.pages.verein.media }}
					<a href="{{ .url }}" target="_blank" class="card card--grey">
						{{ range .logo }}
							<div class="card__img-container">
								<img srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,h_200,w_300,q_auto:good/logos/{{ .img }},
									{{ $.Site.Params.cloudinary_url }}/f_auto,h_180,w_270,q_auto:good/logos/{{ .img }} 1100w,
									{{ $.Site.Params.cloudinary_url }}/f_auto,h_167,w_250,q_auto:good/logos/{{ .img }} 900w"
									src="{{ $.Site.Params.cloudinary_url }}/f_auto,h_200,w_300,q_auto:good/logos/{{ .img }}"
									alt="{{ .description }}"
									class="card__img"
								/>
							</div>
						{{ end }}
						{{range .content }}
							<div class="card__content">
								<h3 class="card__content-title">{{ .title }}</h3>
								<div class="card__content-date">{{ .date }}</div>
							</div>
						{{ end }}
					</a>
				{{ end }}
			</div>
		</div>
	</section>

	<section class="verein__btns">
		<h2 class="heading heading__secondary">Mehr über Chinderzytig</h2>
		<div class="verein__btns-group">
			{{ range .Site.Data.pages.verein.btns }}
				<a href="{{ .url }}" class="btn btn--verein">
					{{ range .label }}
						{{ .text }}
					{{ end }}
					<span class="btn--verein-arrow">
						{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
					</span>
				</a>
			{{ end }}
		</div>
	</section>

	<section class="verein__thanks">
		<div class="verein__thanks-container">
			<h2 class="heading heading__tertiary">Danke für Ihre Unterstützung</h2>
			<div class="verein__thanks-logos">
				{{ range .Site.Data.pages.verein.companies }}
					<a href="{{ .website }}" target="_blank" class="verein__thanks-link">
					{{ range .logo }}
						<img src="{{ $.Site.Params.cloudinary_url }}/c_scale,h_60,q_auto:good/logos/{{ .img }}" alt="{{ .desc }}" class="verein__thanks-logo">
					{{ end }}
					</a>
				{{ end }}
			</div>
		</div>
	</section>
{{end}}
