{{define "main"}}
	<section class="verein__history">
		<div class="verein__history-quote">
			Die Idee entsprang einem <span class="verein__highlight-word">Kinderkopf!</span>
		</div>
		<p class="verein__history-subtext">
			Heute denken wir gross und arbeiten intensiv an einem ganzen Mana-Universum
			Dies beinhaltet die Chinderzytig, Unterrichtseinheiten, Pläne für eine
			Wissensdatenbank, Lernbegleitungen, Coachings und vieles mehr… doch am
			Anfang war ein Kinderkopf:
		</p>
		<div class="verein__history-btn">
			<a href="/unsere-geschichte" class="btn btn--secondary">Unsere Geschichte</a>
		</div>
	</section>

	<div class="cta">
		<h2 class="deading deading--black">Chinderzytig in den Medien</h2>
		<div class="card__container card__container-list">
			{{ range .Site.Data.pages.verein.media }}
				<a href="{{ .url }}" target="_blank" class="card card__port card--grey">
					{{ range .logo }}
						<div class="card__img-container">
							<img src="{{ $.Site.Params.cloudinary_url }}/q_auto:good/logos/{{ .img }}"
								alt="{{ .description }}"
								class="card__port-img"
							/>
						</div>
					{{ end }}
					{{range .content }}
						<div class="card__port-content">
							<h3 class="card__port-title">{{ .title }}</h3>
							<div class="card__-date">{{ .date }}</div>
						</div>
					{{ end }}
				</a>
			{{ end }}
			<div class="card card__buffer"></div>
		</div>
	</div>

	<section class="verein__btns">
		<h2 class="heading heading__secondary">Mehr über Chinderzytig</h2>
		<div class="verein__btns-group">
			{{ range .Site.Data.pages.verein.btns }}
				<a href="{{ .url }}" class="btn btn--verein verein__btns-btn">
					{{ range .label }}
						{{ .text }}
					{{ end }}
					<span class="btn--verein-arrow">
						{{ partial "svgs/arrow_svg.html" (dict "fill" "#000" "width" 30 "height" 30) }}
					</span>
				</a>
			{{ end }}
		</div>
	</section>

	<section class="verein__thanks">
		<div class="verein__thanks-container">
			<h2 class="heading heading__tertiary">Danke für Ihre Unterstützung</h2>
			<div class="verein__thanks-logos">
				{{ range .Site.Data.pages.verein.companies }}
					<a href="{{ .website }}" target="_blank" class="verein__thanks-link">
					{{ range .logo }}
						<img srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,h_60,q_auto:good/logos/{{ .img }} 511w"
						sizes="(min-width: 767px) 35vw, 75vw"
						src="{{ $.Site.Params.cloudinary_url }}/f_auto,h_60,q_auto:good/logos/{{ .img }}"
						alt="{{ .desc }}"
						class="verein__thanks-logo">
					{{ end }}
					</a>
				{{ end }}
			</div>
		</div>
	</section>
{{end}}
