{{define "main"}}
	<section class="visible">
		<h2 class="heading heading__secondary-learning">Visible Learning</h2>
		<h4 class="heading heading__tertiary-learning">
			Lernprozesse im Kontext des Lehrplan 21 sichtbar machen
		</h4>

		<p>
			Ein starkes Trio für das Visible Learning: Die Chinderzytig bietet Inhalt
			und arbeitet mit mirroco zusammen - der Schweizer Softwarelösung für
			"Visible Learning" - mit Datenhaltung in der Schweiz - powered by Hazu.
		</p>

		<p>
			Individuelle Lernbegleitung ist der Schlüssel für stärkende Bildung.
			Visible Learning von mirroco ermöglicht die Kompetenzentwicklung der
			Lernenden im Hinblick auf den Lehrplan 21 sichtbar zu machen und mit
			Weitsicht zu begleiten. Visible Learning Prozess in 5 Schritten bist
			Du bereits am Ziel
		</p>
	</section>
{{end}}
