@mixin container-main {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

@mixin cta-color($bg) {
	background-color: $bg;
	padding: 3rem 0;
}

@mixin newsletter-field($bg-color, $border-color) {
	background-color: $bg-color;
	border: 2px solid $border-color;

	&:focus {
		outline: none;
		border: 2px solid $chinder-verdigris;
	}
}

@mixin btn-color($bg, $border, $primary: true) {
	background-color: $bg;

	&:link,
	&:visited,
	 {
		border: 2px solid $border;
		padding: 1rem;
	}

	@if $primary {
		&:hover,
		&:active {
			background-color: $chinder-verdigris;
			border-color: $chinder-celadon;
		}
	} @else {
		&:hover,
		&:active {
			background-color: $chinder-orange;
			border-color: $chinder-chestnut;
		}
	}
}

@mixin card-dimensions($h, $w, $portrait: true) {
	height: $h;
	width: $w;

	@if $portrait {
		.card__photo {
			height: $h/2;
			width: $w;
		}
	} @else {
		.card__photo {
			height: $h;
			width: $w/2.5;
		}
	}
}

// 1em = 16px

@mixin respond($breakpoint) {
	@if $breakpoint == phone-sm {
		@media (max-width: 21.25em) { @content };	//340px
	}
	@if $breakpoint == phone-md {
		@media (max-width: 22.75em) { @content };	//364px
	}
	@if $breakpoint == phone-lg {
		@media (max-width: 25.875em) { @content };	//414px
	}
	@if $breakpoint == phone-xl {
		@media (max-width: 31.9375em) { @content };	//511px
	}
	@if $breakpoint == phone-xxl {
		@media (max-width: 35.3125em) { @content };	//565px
	}
	@if $breakpoint == tab-port-xxs {
		@media (max-width: 38.125em) { @content };	//610px
	}
	@if $breakpoint == tab-port-xs {
		@media (max-width: 40.60em) { @content };	//650px
	}
	@if $breakpoint == phone-land-lg {
		@media (max-width: 41.6875em) { @content };	//667px
	}
	@if $breakpoint == tab-port-sm {
		@media (max-width: 47.9375em) { @content };	//767px
	}
	@if $breakpoint == tab-port-lg {
		@media (max-width: 50em) { @content };	//800px
	}
	@if $breakpoint == tab-port-xl {
		@media (max-width: 56.25em) { @content };	//900px
	}
	@if $breakpoint == tab-land {
		@media (max-width: 68.75em) { @content };	//1100px
	}
}
