$chinder-platinum: #E6E5E2;
$chinder-cultured: #F4F4F4;
$chinder-verdigris: #30AFAA;
$chinder-celadon: #358280;
$chinder-orange: #EC633F;
$chinder-chestnut: #A25032;

$cta-azure: #E6F8F7;
$cta-seashell: #FDEDE9;

$map-maroon: #B8336A;
$map-blue: #3083B5;
$map-citron: #97AF2F;
$map-minion: #FFE74C;
$map-hover: #CCC;

$social-base: #6C685D;

$footer-dark: #4C4C4C;
$footer-light: #595959;

$color-black: #000;
$color-white: #fff;
