/* ----- COLORS ------ */
$chinder-platinum: #E6E5E2;
$chinder-cultured: #F4F4F4;
$chinder-verdigris: #30AFAA;
$chinder-celadon: #358280;
$chinder-orange: #EC633F;
$chinder-chestnut: #A25032;

$cta-azure: #E6F8F7;
$cta-seashell: #FDEDE9;

$map-maroon: #B8336A;
$map-tyrian: #4E162D;
$map-blue: #3083B5;
$map-indigo-dye: #1B4965;
$map-citron: #97AF2F;
$map-moss-green: #525F1A;
$map-minion: #FFE74C;
$map-old-gold: #C3A900;
$map-light-grey: #CCC;

$social-base: #6C685D;
$social-fb: #3B5998;
$social-twitter: #00ACEE;
$social-whatsapp: #25D366;
$social-email: #FF0000;
$social-disqus: #59A3FC;

$footer-dark: #4C4C4C;
$footer-light: #595959;

$color-black: #000;
$color-white: #fff;

$seasalt: #FAFAFA;
$cultured: #F4F4F4;
$platinum: #E6E5E2;
$davy-grey: #4C4C4C;
$verdigris: #30AFAA;
$celadon: #358280;
$orange: #EC633F;
$jonquil: #FFCF04;

$black: #000;
$white: #fff;

/* ----- MARGINS ------ */
$margin-s: 3rem;
$margin-m: 6rem;

/* ----- TYPOGRAPHY ------ */
$font-patrick: 'Patrick Hand';
$font-fallback: cursive;

$font-small: 1.6rem;
$font-default: 1.8rem;
$font-big: 2.2rem;
$font-bigger: 2.5rem;
$font-heading: 3.5rem;
