/* ----- COLORS ------ */
$seasalt: #FAFAFA;
$cultured: #F4F4F4;
$platinum: #E6E5E2;
$silver: #A6A5A3;
$davy-grey: #4C4C4C;
$verdigris: #30AFAA;
$celadon: #358280;
$orange: #EC633F;
$chestnut: #A25032;
$jonquil: #FFCF04;
$pink: #FAC5CF;
$space-cadet: #2E3142;
$engineering-orange: #CD0000;
$russian-violet: #0F0A3B;

$black: #000;
$white: #fff;

/* ----- MARGINS ------ */
$margin-s: 3rem;
$margin-m: 6rem;

/* ----- TYPOGRAPHY ------ */
$font-patrick: 'Patrick Hand', cursive;
$font-andika: 'Andika', sans-serif;
$font-amatic: 'Amatic SC', cursive;
$font-spartan: 'League Spartan', sans-serif;

$font-small: 1.6rem;
$font-default: 1.8rem;
$font-big: 2.2rem;
$font-bigger: 2.5rem;
$font-heading: 3.5rem;
