.footer {
	background-color: $footer-dark;
	padding: 1.5rem 3rem;

	&__content {
		color: $platinum;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;
	}

	&__column {
		width: 33%;
		display: flex;
		flex-direction: column;

		&--left { align-items: flex-start; }

		&--right { align-items: flex-end; }
	}

	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__partner {
		display: flex;
		flex-direction: column;
		align-items: center;
		&:not(:last-child) { margin-bottom: 2rem; }
	}

	&__heading {
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__list {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 1rem;
	}

	&__link {
		text-decoration: none;
		color: $chinder-platinum;

		&:active,
		&:hover { border-bottom: 2px solid $chinder-platinum;}
	}

	// &__top,
	// &__middle-container,
	//
	// &__middle {
	// 	background-color: $footer-light;
	// 	padding: 3rem 0;
	//
	// 	&-container {
	// 		display: flex;
	// 		justify-content: space-between;
	//
	// 		@include respond(phone-xl) {
	// 			flex-direction: column;
	// 			align-items: center;
	// 		}
	// 	}
	// }
	//
	// &__bottom {
	// 	padding: 2rem 0;
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	//
	// 	@include respond(tab-land) { padding: 2rem 3rem; }
	//
	// 	@include respond(tab-port-xl) {
	// 		flex-direction: column-reverse;
	// 		padding: 3rem 0;
	// 	}
	//
	// 	&-item {
	//
	// 		&:not(:last-child) {
	//
	// 			&:after {
	// 				content: "|";
	// 				color: $chinder-platinum;
	// 				margin: 0 2rem;
	//
	// 				@include respond(phone-lg) { margin: 0 0.5rem; }
	// 			}
	// 		}
	// 	}
	//
	// 	&-right {
	// 		align-self: flex-end;
	//
	// 		@include respond(tab-port-xl) { align-self: center; }
	// 	}
	//
	// 	&-left {
	// 		display: flex;
	//
	// 		@include respond(tab-land) { margin-left: 5rem; }
	//
	// 		@include respond(tab-port-xl) {
	// 			align-items: center;
	// 			margin-left: 0;
	// 		}
	//
	// 		@include respond(phone-land-lg) { flex-direction: column-reverse; }
	// 	}
	// }
	//
	// &__column {
	// 	list-style: none;
	// 	padding: 0;
	// 	flex: 0 0 33%;
	//
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	//
	// 	@include respond(phone-xl) {
	// 		text-align: center;
	//
	// 		&:first-child { margin-bottom: 2rem; }
	//
	// 		&:not(:last-child) { padding-left: 0; }
	// 	}
	//
	// 	&-item { padding-bottom: 1rem; }
	//
	// 	&-link {
	// 		text-decoration: none;
	// 		color: $chinder-platinum;
	//
	// 		&:active,
	// 		&:hover { border-bottom: 2px solid $chinder-platinum;}
	// 	}
	//
	// 	&--heavy {
	// 		font-weight: 700;
	// 		text-transform: uppercase;
	// 	}
	//
	// 	&--normal { font-weight: 500; }
	// }
	//
	// &__partner {
	// 	color: $chinder-platinum;
	// 	font-weight: 500;
	// 	font-size: 1.2rem;
	// 	text-decoration: none;
	// 	display: flex;
	// 	align-items: center;
	// 	&:not(:last-child) { margin-right: 3rem; }
	//
	// 	@include respond(tab-port-xl) { margin-top: 3rem; }
	//
	// 	@include respond(phone-land-lg) {
	// 		&:not(:last-child) { margin-right: 0; }
	// 	}
	//
	// 	@include respond(phone-sm) { margin-left: 0; }
	//
	// 	&-line {
	// 		height: 5rem;
	// 		border-right: 1px solid $chinder-platinum;
	// 		margin: 0 1rem;
	// 	}
	//
	// 	&-list {
	// 		list-style: none;
	// 		padding: 0;
	// 	}
	// }
}
