.footer {
	background-color: $footer-dark;

	&__top,
	&__middle-container,
	&__bottom { @include container-main; }

	&__middle {
		background-color: $footer-light;
		padding: 3rem 0;

		&-container {
			display: flex;
			justify-content: center;

			@include respond(phone-xl) {
				flex-direction: column;
				align-items: center;
			}
		}

		&-right { display: flex; }
	}

	&__bottom {
		padding: 2rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond(tab-land) { padding: 2rem 3rem; }

		@include respond(tab-port-lg) {
			flex-direction: column-reverse;
			padding: 3rem 0;
		}
	}

	&__column {
		list-style: none;

		@include respond(phone-xl) {
			text-align: center;

			&:first-child { margin-bottom: 2rem; }

			&:not(:last-child) { padding-left: 0; }
		}

		&-item { padding-bottom: 1rem; }

		&-link {
			&:active,
			&:hover { border-bottom: 2px solid $chinder-platinum;}
		}
	}

	&__partner {
		color: $chinder-platinum;
		font-weight: 500;
		font-size: 1.2rem;
		text-decoration: none;
		display: flex;
		align-items: center;

		@include respond(tab-land) { margin-left: 5rem; }

		@include respond(phone-sm) { margin-left: 0; }

		&-line {
			height: 5rem;
			border-right: 1px solid $chinder-platinum;
			margin: 0 1rem;
		}

		&-list {
			list-style: none;
			padding: 0;
		}
	}

	&__line {
		width: 10rem;
		margin: 2rem 0;
		border-bottom: 1px solid $chinder-platinum;
		display: none;

		@include respond(tab-port-lg) { display: block; }
	}
}
