.footer {
	background-color: $footer-dark;

	&__top,
	&__middle-container,
	&__bottom { @include container-main; }

	&__middle {
		background-color: $footer-light;
		padding: 3rem 0;

		&-container {
			display: flex;
			justify-content: center;
		}

		&-right { display: flex; }
	}

	&__bottom {
		padding: 2rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__column {
		list-style: none;

		&-item { padding-bottom: 1rem; }

		&-link {
			&:active,
			&:hover { border-bottom: 2px solid $chinder-platinum;}
		}
	}

	&__logo-group {
		display: flex;
		align-items: center;
	}

	&__chinderzytig {
		display: flex;
		align-items: center;
		margin-right: 2rem;
	}
}
