.nav {
	margin-bottom: 6rem;

	&__notice {
		background-color: $chinder-verdigris;
		padding: .5rem 0;
		text-align: center;

		&-link { margin-left: .5rem; }
	}

	&__main {
		@include container-main;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: flex-start;

		&-image { width: 20rem; }

		&-text {
			display: flex;
			flex-direction: column;
			align-self: center;
			justify-content: center;
			margin-left: -1rem;
		}
	}

	&__ecommerce {
		width: 10%;
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		background-color: $chinder-orange;

		&-group {
			@include container-main;
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;
			list-style: none;
			padding: 0;
		}

		&-link:link,
		&-link:visited {
			padding: .5rem 1rem;
			transition: background-color 0.2s;
		}

		&-link:hover,
		&-link:active { background-color: $chinder-verdigris; }
	}

	&__newsletter { background-color: $chinder-cultured; }
}
