.nav {
	font-family: $font-patrick, $font-fallback;
	margin-bottom: 6rem;

	@include respond(tab-port-sm) { margin-bottom: 3rem;}

	&__verdigris {
		background-color: $chinder-verdigris;
		height: 3rem;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond(tab-port-xl) { justify-content: space-around;}

		@include respond(tab-port-sm) { justify-content: space-between;}

		@include respond(phone-lg) { justify-content: space-around; }
	}

	&__logo {

		&-image {
			width: 40rem;
			margin-left: 10rem;

			@include respond(phone-xxl) { width: 20rem; }
		}

		&-standard {
			@include respond(phone-xxl) { display: none; }
		}

		&-mobile {
			display: none;

			@include respond(phone-xxl) { display: block; }
		}
	}

	&__ecommerce {
		display: flex;
		justify-content: space-between;
		margin-right: 3rem;

		@include respond(tab-port-xl) { margin-right: 0; }

		@include respond(tab-port-sm) { margin-right: 2rem; }
	}

	&__orange {
		background-color: $chinder-orange;
		height: 3rem;
	}

	&__cultured {
		background-color: $chinder-cultured;
		padding: 1rem 0;
	}
}
