
@media print {
	.nav,
	.marker,
	.article__svgs,
	.osano-cm-widget--position_left,
	.support,
	.teiler,
	.arbeitsmaterial-sc-group,
	.single__comments,
	.footer { display: none; }


	body {
		font: 13pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
	}

	.heading--article { font: 24pt Georgia, "Times New Roman", Times, serif; }

	figcaption.single__image-caption { margin-left: 70pt; }

	.single__container .single__content {
		border-bottom: none;

		h3 { font: 16pt Georgia, "Times New Roman", Times, serif; }

		p a,
		ul li a {
			color: $color-black;
			word-wrap: break-word;
		}

		p a.fremdwort {
			color: $color-black;
			text-decoration: none;
		}

		figure.image {
			display: block;
			text-align: center;

			figcaption.image__caption { margin-left: 70pt;}
		}

		.single__content-video,
		.container__center { display: none; }
	}

	.single__content:after {
		content: "Passendes Arbeitsmaterial zu diesem Artikel auf www.chinderzytig.ch";
		font-weight: 700;
		font-style: italic;
	}
}

@page { margin: 2cm; }
