.sidebar {
	font-family: 'League Spartan', sans-serif;
	background: rgba($celadon, .9);
	height: 100%;
	width: 100%;
	left: 0;
	margin-top: 13rem;
	position: fixed;
	overflow-y: auto;
	transform: translateX(-100%);
	transition: transform 250ms ease-in-out;
	z-index: 10;

	@include respond(tab-port-xl) { margin-top: 14rem; }
	@include respond(phone-xxl) { margin-top: 13.9rem; }

	&__menu {
		width: 100%;
		padding: 4rem 0 0 0;
		display: flex;
		align-items: center;
		flex-direction: column;

		@include respond(phone-lg) { padding: 1.5rem 0 0 0; }
	}

	&__item {
		list-style: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2rem;
		padding: 1rem;
		cursor: pointer;
	}

	&__link {
		color: $white;

		&:link,
		&:visited {
			text-decoration: none;
			font-weight: bold;
		}

		&:hover { border-bottom: 3px solid $white; }
	}

	&__dropdown {

		&-box {
			display: none;

			&:checked ~ .sidebar__dropdown-content {
				display: flex;
				flex-direction: column;
				align-items: baseline;
			}

			&:checked + .sidebar__dropdown-label > .sidebar__dropdown-arrow { transform: rotate(180deg); }
		}

		&-label {
			color: $white;
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		&-text { &:hover { box-shadow: 0 .3rem 0 0 $white; } }

		&-arrow {
			border-left: .5rem solid transparent;
		  border-right: .5rem solid transparent;
		  border-top: .6rem solid $white;
			margin-left: 1rem;
			transition: transform ease-in-out 0.2s;
		}

		&-content {
			list-style: none;
			display: none;
			padding-left: 0;
			transition: Display 0s, flex-direction 0s, align-items 0s;
		}

		&-item { padding: .5rem; }

		&-link {
			color: $white;
			text-transform: capitalize;

			&:link,
			&:visited {
				text-decoration: none;
				font-weight: normal;
			}

			&:hover { border-bottom: .3rem solid $white; }
		}
	}
}
