<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__svg cta__svg--flex-start cta__svg--display-none">
			{{ partial "svgs/board.html" }}
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">Unser Beirat</h2>
			<div class="cta__crew">
				{{ range .Site.Data.partials.advisory.board }}
					<div class="crew">
						<div class="crew__name">{{ .name }}</div>
						<div class="crew__position">{{ .position }}</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
</div>
