<div class="cta">
	<div class="cta__container cta__container--standard">
        <div class="cta__svg cta__svg--flex-center cta__svg--display-none">
            <a href="{{ .Site.Params.cloudinary_url }}/Jahresbericht_2024_fuejcw.pdf" target="_blank" class="card card__report card--celadon">
                <div class="card__img-container">
                    <img src="{{ .Site.Params.cloudinary_url }}/h_300,c_scale,q_auto:best/Jahresbericht_2024_fuejcw.png" alt="Arbeitsmaterial cover" class="card__report-img">
                </div>
            </a>
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">Jahresbericht 2024</h2>
			<p class="cta__text">
				Wir freuen uns, Sie auch zukünftig an unserer Seite zu wissen und sind glücklich darüber,
                wenn die Chinderzytig auch in Ihren Kreisen weiterhin positiv erwähnt und gestreut wird.
                Wir glauben an das Produkt, an die Idee und an die nachhaltige Sinnhaftigkeit - mit Ihnen
                zusammen.
			</p>
            <a href="{{ .Site.Params.cloudinary_url }}/Jahresbericht_2024_fuejcw.pdf" target="_blank" class="btn btn__mobile btn--celadon">
				<span>Jahresbericht PDF</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
	</div>
</div>