<div class="cta cta--pink">
	<div class="cta__container cta__container--standard">
		<div class="cta__info cta__info--stretch">
			<h2 class="deading deading__cta deading--black">
				Haben Sie noch Fragen?
			</h2>
			<a href="/kontakt" class="btn btn__space btn--space-cadet">
				<span>Kontaktieren Sie uns</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
		<div class="cta__svg cta__svg--flex-end cta__svg--display-none">
			{{ partial "svgs/thinking.html" }}
		</div>
	</div>
</div>
