<a href="{{.attr.RelPermalink}}" class="card {{ .cardType }} {{ .cardColor }} {{ .cardBg }} carousel-cell">
	<div class="card__img-container">
		{{ if eq .cardType "card__land" }}
			{{ if eq .fokusImg "true" }}
				<img src="{{ .ctx.Site.Params.cloudinary_url }}/w_400,c_scale,q_auto:good/graphics/fdw-hero_nkmrti.png"
				alt="Cartoon-Bild eines Mädchens, das eine Lupe hochhält"
				class="card__land-img"
				/>
			{{ else }}
				<img src="{{ .ctx.Site.Params.cloudinary_url }}/w_400,c_scale,q_auto:good/{{ .attr.Params.hero_img }}"
				alt="{{ .attr.Params.img_description }}"
				class="card__land-img"
				/>
			{{ end }}
		{{ end }}
		{{ if eq .cardType "card__port" }}
			{{ if eq .fokusImg "true" }}
				<img src="{{ .ctx.Site.Params.cloudinary_url }}/w_200,c_scale,q_auto:good/graphics/fdw-hero_nkmrti.png"
				alt="Cartoon-Bild eines Mädchens, das eine Lupe hochhält"
				class="card__port-img"
				/>
			{{ else }}
				<img src="{{ .ctx.Site.Params.cloudinary_url }}/h_200,c_scale,q_auto:good/{{ .attr.Params.hero_img }}"
				alt="{{ .attr.Params.img_description }}"
				class="card__port-img"
				/>
			{{ end }}
		{{ end }}
	</div>
	<div class="{{ .cardType }}-content">
		<div class="card__content-bulk">
			{{ if .attr.Params.fdw }}
				<h4 class="{{ .cardType }}-category card__category card__category--fdw">Fokus der Woche</h4>
			{{ else if .attr.Params.kfk}}
				<h4 class="{{ .cardType }}-category card__category card__category--kfk">Kinder schreiben für Kinder</h4>
			{{ end }}
			<h3 class="{{ .cardType }}-title">{{ .attr.Title }}</h3>
			{{ if eq .cardType "card__land" }}
				<p class="card__land-summary">{{ .attr.Content | strings.Truncate 100 }}</p>
			{{ end }}
		</div>
		<div class="card__date">{{ .attr.Date.Format .ctx.Site.Params.DateForm }}</div>
	</div>
</a>
