<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__svg cta__svg--flex-center cta__svg--display-none">
			{{ partial "svgs/uber-desk.html" }}
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">
				Chinderzytig. Wer? was? warum?
			</h2>
			<p class="cta__text">
				Heute denken wir gross und arbeiten intensiv an einem ganzen Mana-Universum
				Dies beinhaltet die Chinderzytig, Unterrichtseinheiten, Pläne für eine
				Wissensdatenbank, Lernbegleitungen, Coachings und vieles mehr.
			</p>
			<a href="{{ relLangURL "/verein" }}" class="btn btn__space btn--jonquil">
				<span>Über den Verein</span>
				{{ partial "svgs/arrow-right.html" (dict "h" "big") }}
			</a>
		</div>
	</div>
</div>
