<div class="breadcrumb">
	<div class="breadcrumb__group-container">
		<ul class="breadcrumb__group" id="bread">
			<li class="breadcrumb__item">
				<a href="/unsere-geschichte/" class="breadcrumb__link">Unsere Geschichte</a>
				<span class="breadcrumb__icon">{{ partial "svgs/triangle_right_svg.html" (dict "fill" "#E6E5E2" "width" 20 "height" 20) }}</span>
			</li>
			<li class="breadcrumb__item">
				<a href="/uber-uns/" class="breadcrumb__link">Über Uns</a>
				<span class="breadcrumb__icon">{{ partial "svgs/triangle_right_svg.html" (dict "fill" "#E6E5E2" "width" 20 "height" 20) }}</span>
			</li>
			<li class="breadcrumb__item">
				<a href="/unser-beirat/" class="breadcrumb__link">Unser Beirat</a>
				<span class="breadcrumb__icon">{{ partial "svgs/triangle_right_svg.html" (dict "fill" "#E6E5E2" "width" 20 "height" 20) }}</span>
			</li>
			<li class="breadcrumb__item">
				<a href="/unsere-quellen/" class="breadcrumb__link">Unsere Quellen</a>
				<span class="breadcrumb__icon">{{ partial "svgs/triangle_right_svg.html" (dict "fill" "#E6E5E2" "width" 20 "height" 20) }}</span>
			</li>
			<li class="breadcrumb__item">
				<a href="/kontakt/" class="breadcrumb__link">Kontaktiere Uns</a>
			</li>
		</ul>
	</div>
</div>
