<div class="cta cta--orange">
	<h2 class="deading deading--white">Beispiele aus dem Alltag</h2>
	<div class="cta__container cta__container--card-list">
		{{ range .Site.Data.pages.unterrichtsideen.newspapers }}
			<a href="{{ $.Site.Params.cloudinary_url }}/{{ .document }}.pdf" target="_blank" class="card card__port card--chestnut card--bg-cultured">
				<div class="card__img-container">
					<img src="{{ $.Site.Params.cloudinary_url }}/h_200,q_auto:best/{{ .document }}.png"
						alt="PDF cover image"
						class="card__port-img card__port-img--pdf"
					/>
				</div>
				<div class="card__port-content">
					<div class="card__content-bulk">
						<h4 class="card__port-topic card__topic card__topic--fdw">PDF</h4>
						<h3 class="card__port-title">{{ .title }}</h3>
					</div>
				</div>
			</a>
		{{ end }}
		<div class="card__ghost"></div>
	</div>
</div>
