<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__svg cta__svg--display-none">
			{{ partial "svgs/klassenzimmer.html" }}
		</div>
		<div class="cta__info">
			<h2 class="deading deading__cta deading--black">Chinderzytig in ihrem Klassenzimmer</h2>
			<p class="cta__text">
				Die Chinderzytig eignet sich ideal für die Anwendung im Unterricht. Ob
				mittels unserer zur Verfügung gestellten Arbeitsmaterialien, anhand von
				hier ersichtlichen Unterrichtsbeispielen oder in Form einer von uns
				durchgeführten Schuleinheit: Vieles ist möglich!
			</p>
			<a href="/unterrichtsideen" class="mtn mtn__space mtn--jonquil">
				<span>Mehr lernen</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
	</div>
</div>
