<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="deading deading__cta deading--black">
				Chinderzytig kommt zu euch
			</h2>
			<p class="cta__text cta__text--btnless">
				Die Chinderzytig eignet sich ideal für die Anwendung im Unterricht. Ob
				mittels unserer zur Verfügung gestellten Arbeitsmaterialien, anhand von
				hier ersichtlichen Unterrichtsbeispielen oder in Form einer von uns
				durchgeführten Schuleinheit: Vieles ist möglich!
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-end">
			{{ partial "svgs/student.html" }}
		</div>
	</div>
</div>
