{{ $page := .attr }}
{{ $cta := .cta }}
{{ $headingColor := .headingColor }}
{{ $heading := .heading }}
{{ $flickity := .flickity }}
{{ $containerType := .containerType }}
{{ $data := .data }}
{{ $shadow := .shadow }}
{{ $bgColor := .bgColor }}
{{ $imgClass := .imgClass }}
{{ $ghost := .ghost }}
{{ $advertise := .advertise }}

<div class="cta cta--{{ $cta }}">
	<h2 class="deading deading--{{ $headingColor }}">{{ $heading }}</h2>
	{{ if eq $flickity "true" }}
		<div class="carousel" data-flickity='{"cellAlign": "left", "wrapAround": true}'>
	{{ else }}
		<div class="cta__container cta__container--{{ $containerType }}">
	{{ end }}
		{{ range $data }}
			<a href="{{ .url }}" target="_blank" class="card card__port card--{{ $shadow }} card--bg-{{ $bgColor }} carousel-cell">
				<div class="card__img-container">
					<img src="{{ $page.Site.Params.cloudinary_url }}/h_200,q_auto:best/{{ .photo_url }}"
						alt="{{ .img_alt }}"
						class="card__port-img card__port-img{{ $imgClass }}"
					/>
				</div>
				<div class="card__port-content">
					<div class="card__content-bulk">
						<h4 class="card__port-category card__category card__category--{{ .cat_class }}">{{ .category }}</h4>
						<h3 class="card__port-title">{{ .title }}</h3>
					</div>
					{{ if .date }}
						<div class="card__date">{{ .date }}</div>
					{{ end }}
				</div>
			</a>
		{{ end }}
		{{ if eq $ghost "true" }}
			<div class="card__ghost"></div>
		{{ end }}
		{{ if eq $advertise "true" }}
			<div class="card__advertise">
				<div class="card__advertise-text">
					Hier kann eure Zeitung sein... 
				</div>
			</div>
		{{ end }}
	</div>
</div>
