<div class="cta cta--verdigris">
	<div class="cta__container cta__container--standard">
		<div class="cta__svg cta__svg--flex-center cta__svg--display-none">
			{{ partial "svgs/piggy-bank.html" }}
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--white">Spenden</h2>
			<p class="cta__text cta__text--white">
				Auch kleine Spenden können eine grosse Wirkung erzielen! Für den Preis von
				ein paar Kaffees können Sie die Chinderzytig weiterhin für alle kostenlos
				halten.
			</p>
			<div class="btn__spenden-group">
				{{ range .Site.Data.partials.support.donation }}
				<button class="btn btn__spenden btn--celadon snipcart-add-item"
				data-item-id="{{ .id }}"
				data-item-price="{{ .price }}"
				data-item-url="{{ $.RelPermalink }}"
				data-item-description="Als Unterstützung der zukünftigen, besser informierten Kinder und Jugendlichen"
				data-item-image="{{ $.Site.Params.cloudinary_url }}/logos/chinder_main_qwvki2.png"
				data-item-name="{{ .label }} Spende an Chinderzytig">
				{{ .label }}
			</button>
			{{ end }}
		</div>
	</div>
	</div>
</div>
