<div class="cta cta--platinum">
	<div class="cta__container cta__container--column">
		<h2 class="deading deading__cta deading--black">Häufig gestellte Fragen</h2>
		<div class="faq">
			<input type="checkbox" class="faq__input" id="source" />
			<label for="source" class="faq__label">
				<span class="faq__question">
					Welche Quellen nutzen Sie, um Ihre Informationen zu erhalten?
				</span>
				<span class="faq__arrow"></span>
			</label>
			<div class="faq__answer">
				Wir beziehen unsere Informationen primär aus dem Internet und aus
				Printmedien. 99% der Informationen stammen von:
			</div>
		</div>
	</div>
</div>
