<div class="cta cta--verdigris">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="deading deading__cta deading--white">Fokus der Woche</h2>
			<p class="cta__text cta__text--btnless cta__text--white">
				Der Fokus der Woche (FdW) erlaubt uns einen Blick durch die Lupe auf
				aktuelle Geschehnisse der Woche. Wir beleuchten ein Thema, geben
				unsere Meinung als Diskussionsgrundlage und stellen Fragen. Es ist
				nicht die Idee, das Thema im Sinne einer Reportage tiefgründig zu
				erörtern. Wir legen den Daumen drauf, wecken auf, schauen hin und
				animieren die Lesenden zu eigenen Gedankengängen. Und ja: wenn möglich
				mit Good News...
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-end cta__svg--display-none">
			{{ partial "svgs/girl-magnify.html" }}
		</div>
	</div>
</div>
