<footer class="footer">
	<div class="footer__top">
		{{ partial "newsletter.html" (dict "type" "footer") }}
	</div>
	<div class="footer__middle">
		<div class="footer__middle-container">
			<ul class="footer__column footer__column--heavy">
				{{ range .Site.Data.partials.footer.main }}
				<li class="footer__column-item"><a href="{{ .link }}" class="footer__column-link">{{ .label }}</a></li>
				{{ end }}
			</ul>
			<div class="footer__middle-right">
				<ul class="footer__column footer__column--normal">
					{{ range .Site.Data.partials.footer.left }}
						<li class="footer__column-item"><a href="{{ .link }}" class="footer__column-link">{{ .label }}</a></li>
					{{ end }}
				</ul>
				<ul class="footer__column footer__column--normal">
					{{ range .Site.Data.partials.footer.right}}
						<li class="footer__column-item"><a href="{{ .link }}" class="footer__column-link">{{ .label }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<a href="https://www.schweizermedien.ch/medienkompetenz/angebote-netzwerkpartner" class="footer__partner">
			<img src="{{ .Site.Params.cloudinary_url }}/c_scale,q_auto:good,w_200/v1595591559/logos/sm_grey_sx76sk.png" alt="Schweizer Medien logo" class="footer__partner-logo" >
			<div class="footer__partner-line"></div>
			<ul class="footer__partner-list">
				<li class="footer__partner-text">Offizieller</li>
				<li class="footer__partner-text">Netwerkpartner</li>
				<li class="footer__partner-text">Verband</li>
			</ul>
		</a>
		<div class="footer__line"></div>
		<div class="footer__social-group">
			{{- partial "svgs/social_svgs.html" . -}}
		</div>
	</div>
</footer>
