<div class="cta cta--platL">
	<h2 class="deading deading__cta deading--black">
		Umsetzungsmöglichkeiten der Chinderzytig an Schulen
	</h2>
	<table class="implementation">
	  <tr>
			<th class="implementation__clear"></th>
	    <th>Kostenlos</th>
	    <th>Kostenpflichtig</th>
	  </tr>
	  <tr>
	    <th>Benützung der Website</th>
	    <td>&#10003;</td>
			<td></td>
	  </tr>
	  <tr>
	    <th>Lesen der Artikel</th>
	    <td>&#10003;</td>
			<td></td>
	  </tr>
		<tr>
	    <th>Lösen der Arbeitsmaterial</th>
	    <td>&#10003;</td>
			<td></td>
	  </tr>
		<tr>
	    <th>Abonnemente<sup>1</sup></th>
	    <td></td>
			<td>CHF 40.- bis CHF 60.- pro Jahr</td>
	  </tr>
		<tr>
	    <th>Vielfältige Arbeitsmaterialien<sup>2</sup></th>
	    <td></td>
			<td>Preise folgen noch</td>
	  </tr>
		<tr>
	    <th>Unterrichtbesuche und -Projekte<sup>3</sup></th>
	    <td></td>
			<td>Preise folgen noch</td>
	  </tr>
		<tr>
	    <th>Visible Learning<sup>4</sup></th>
	    <td></td>
			<td>ab CHF 570.- pro Jahr</td>
	  </tr>
	</table>
</div>
