<div class="cta cta--platinum">
	<h2 class="heading heading__cta heading--black">
		Umsetzungsmöglichkeiten der Chinderzytig an Schulen
	</h2>
	<table class="implementation">
	  <tr>
			<th class="implementation--silver"></th>
	    <th>Kostenlos</th>
	    <th>Kostenpflichtig</th>
	  </tr>
	  <tr>
	    <th>Benützung der Website</th>
	    <td class="implementation__check">&#10003;</td>
			<td></td>
	  </tr>
	  <tr>
	    <th>Lesen der Artikel</th>
	    <td class="implementation__check">&#10003;</td>
			<td></td>
	  </tr>
		<tr>
	    <th>Lösen der Arbeitsmaterial</th>
	    <td class="implementation__check">&#10003;</td>
			<td></td>
	  </tr>
		<tr>
	    <th>Abonnemente<sup class="implementation__superscript"> 1</sup></th>
	    <td></td>
			<td>CHF 40.- bis CHF 60.- pro Jahr</td>
	  </tr>
		<tr>
	    <th><a href="/unterrichtsideen" class="implementation__link">Schulprojekte</a></th>
	    <td></td>
			<td>CHF 10.- pro Projekt</td>
	  </tr>
		<tr>
	    <th>Unterrichtbesuche und -Projekte<sup class="implementation__superscript"> 2</sup></th>
	    <td></td>
			<td>Preise folgen noch</td>
	  </tr>
	</table>
	<div class="implementation__scroll">
		<div class="implementation__scroll-label">
			<span class="implementation__scroll-text">Blättern Sie</span>
			{{ partial "svgs/arrow-right.html" }}
		</div>
	</div>
	<p class="implementation__fineprint">
		<span class="implementation__fineprint-number implementation--silver">1:</span>
		Lieferdienst: Artikel mit oder ohne Arbeitsmaterial direkt in die persönliche
		Mailbox geliefert.<span class="implementation__fineprint-number implementation--silver">2:</span>
		3 Lektionen zu den Themen Medienbildung, Meinungsbildung (Fake News) sowie
		Erstellung einer Online-Zeitung. Möglichkeit der Veröffentlichung einer
		eigenen Klassen- oder Schulzeitung auf der Plattform chinderzytig.ch inkl.
		Vorbereitung und Nachbereitung (inkl. Implementierung auf Website) sowie
		Prozessbegleitung bei Bedarf.
	</p>
</div>
