<div class="cta cta--orL">
	<h2 class="deading deading--white">Neuste KfK Artikel</h2>
	<div class="cta__container cta__container--card-list">
		{{ $set5 := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
		{{ $set6 := where .Site.Pages ".Params.kfk" true }}
		{{ $kfk := $set5 | intersect $set6 }}

		{{ range first 3 $kfk.ByDate.Reverse }}
			{{ partial
				"article-card.html" (dict "attr" . "ctx" $ "cardType" "card__port"
				"cardColor" "card--chestnut" "showCase" "false")
			}}
		{{ end }}
	</div>
</div>
