<div class="cta cta__info cta--lernpfad">
	<div class="cta__svg cta__svg-flex-start">
		{{ partial "svgs/lernpfad-hero.html" }}
	</div>
	<div class="cta__text">
		<h2 class="deading deading__cta deading--white">
			Chinderzytig auf Lernpfad
		</h2>
		<p class="cta__chunk cta__chunk--white">
			Die Chinderzytig lässt sich ganzheitlich und interdisziplinär in den
			Unterricht einbauen. Beispiele finden sich auf der Lernpfad Website.
		</p>
		<a href="https://lernpfad.ch/profil/chinderzytig" target="_blank" class="mtn mtn__long mtn--jonquil">
			<span>Lernpfad Website</span>
			{{ partial "svgs/arrow-right.html" }}
		</a>
	</div>
</div>
