<div class="cta cta--pink">
	<div class="cta__container cta__container--column-reverse">
		<div class="cta__info cta__info--column">
			<h2 class="deading deading__center deading--black">Chinderzytig = Mana</h2>
			<p class="cta__text cta__text--column">
				Aus dem Verein und der Vision der Chinder- und Jugendzytig hat sich der
				Dachverein Mana entwickelt, in welchen die Chinderzytig integriert wurde.
				Die Schaffung dieses Dachvereins ermöglicht es die grossen Ziele noch
				präziser und professioneler zu realisieren.
			</p>
			<a href="https://explore-mana.org/" target="_blank" class="mtn mtn__space mtn--space-cadet">
				<span>zur Mana-Website</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
		<div class="cta__svg cta__svg--column">
			{{ partial "svgs/mana.html" }}
		</div>
	</div>
</div>
