<div class="menu">
	<input type="checkbox" class="menu__checkbox" id="menu-toggle">
	<label for="menu-toggle" class="menu__btn">
		<span class="menu__icon">&nbsp;</span>
	</label>
	<div class="menu__background">&nbsp;</div>
	<nav class="menu__nav">
		<ul class="menu__nav-list">
			<li class="menu__nav-item"><a href="/alle-artikel" class="menu__nav-link">Artikel</a></li>
			<li class="menu__nav-item"><a href="/fokus-der-woche" class="menu__nav-link">Fokus der Woche</a></li>
			<li class="menu__nav-item"><a href="/arbeitsmaterial" class="menu__nav-link">Arbeitsmaterial</a></li>
			<li class="menu__nav-item"><a href="/schulprojekte" class="menu__nav-link">Unterrichtsideen</a></li>
			<li class="menu__nav-item"><a href="/abonnemente" class="menu__nav-link">Abonnemente</a></li>
			<li class="menu__nav-item"><a href="/visible-learning" class="menu__nav-link">Visible Learning</a></li>
			<li class="menu__nav-item"><a href="/verein" class="menu__nav-link">Der Verein</a></li>
			<li class="menu__nav-item"><a href="/kontakt" class="menu__nav-link">Kontaktiere Uns</a></li>
		</ul>
	</nav>
</div>
