<div id="modal" class="modal">
    <div class="modal-content">
        <button class="modal-close" id="closeModal">&times;</button>
        <h3 class="modal-title">Die Chinderzytig braucht deine Unterstützung!</h3>
        <p class="modal-blurb">
            Damit wir die Seite weiterhin erhalten und Artikel kostenfrei 
            anbieten konnen, brauchen wir dich. Bitte, spende einen Betrag 
            deiner Wahl zu Gunsten dieses Angebots. Richtpreis: ein Artikel 
            kostet uns CHF 20.- Wir sind dankbar für deine Unterstützung!
        </p>
        <div id="rnw-paylink-button"></div>
    </div>
</div>