<nav class="nav">
	<div class="nav__notice">
		Während der Krise: Wir spenden 20% Ihres Gönnerbeitrages ans lokale
		Buchgewerbe! <a href="#" class="nav__notice-link">Mehr lernen</a>
	</div>
	<a href="#" class="nav__logo">
		<img src="https://res.cloudinary.com/da9xmtvrb/image/upload/v1594391535/logos/chinder_main_qwvki2.png" alt="Chinderzytig logo" class="nav__logo-image">
		<div class="nav__logo-text">
			<span class="nav__logo-text--main">Chinderzytig</span>
			<span class="nav__logo-text--sub">Netwerkpartner des Verbands Schweizer Medien</span>
		</div>
	</a>
	<ul class="nav__menu">
		<a href="#" class="nav__menu-link"><li class="nav__menu-item">Artikel</li></a>
		<a href="#" class="nav__menu-link"><li class="nav__menu-item">Fokus der Woche</li></a>
		<a href="#" class="nav__menu-link"><li class="nav__menu-item">Abonnemente</li></a>
		<a href="#" class="nav__menu-link"><li class="nav__menu-item">Der Verein</li></a>
	</ul>
	<div class="newsletter nav__newsletter">
		<p class="newsletter__heading newsletter__heading--nav">Newsletter abonnieren</p>
		<input type="email" name="email" class="newsletter__field newsletter__field--nav" required>
	</div>
</nav>
