<!-- <nav class="nav">
	<div class="nav__verdigris"></div>
	<div class="nav__main">
		{{- partial "menu.html" . -}}

		<a href="/" class="nav__logo-standard">
			<img src="{{ .Site.Params.cloudinary_url }}/logos/Chiderzytig-logo-wording_wqiwgb.png" alt="Chinderzytig logo" class="nav__logo-image">
		</a>
		<a href="/" class="nav__logo-mobile">
			<img src="{{ .Site.Params.cloudinary_url }}/logos/chinder_main_qwvki2.png" alt="Chinderzytig logo" class="nav__logo-image">
		</a>
		<div class="nav__ecommerce">
			<button class="snipcart-overwrite snipcart-checkout">
				{{ partial "svgs/cart_svg.html" (dict "fill" "#4C4C4C" "width" 35 "height" 35) }}
				<span class="snipcart-overwrite snipcart-items-count">0</span>
			</button>
			<button class="snipcart-overwrite snipcart-customer-signin">
				{{ partial "svgs/account_svg.html" (dict "fill" "#4C4C4C" "width" 35 "height" 35) }}
			</button>
		</div>
	</div>
	<div class="nav__orange"></div>
	<div class="nav__cultured">
		<div class="search__container">
			{{ partial "svgs/magnify.html" (dict "fill" "#6C685D" "width" 35 "height" 36) }}
			<input id="search" type="search" placeholder="Suchen" class="search__field" />
		</div>
	</div>
</nav> -->

<div class="nav">
	<div class="nav__header">
		<div class="nav__logo">
			<a href="/" class="nav__logo-standard">
				<img src="{{ .Site.Params.cloudinary_url }}/logos/Chiderzytig-logo-wording_wqiwgb.png" alt="Chinderzytig logo" class="nav__logo-image">
			</a>
			<a href="/" class="nav__logo-mobile">
				<img src="{{ .Site.Params.cloudinary_url }}/logos/chinder_main_qwvki2.png" alt="Chinderzytig logo" class="nav__logo-image">
			</a>
		</div>
		<div class="nav__slogan">
			{{- partial "svgs/nav_tab_phone_svg.html" -}}
			<div class="nav__slogan-text">
				Die online Zeitung für <span class="nav__slogan-text--orange">Kinder</span> und <span class="nav__slogan-text--verdigris">Jugendliche</span>
			</div>
		</div>
	</div>
	<div class="nav__banner">
		{{- partial "svgs/coffee.html" -}}
		<div class="nav__banner-text">
			Helfen Sie uns, Chinderzytig frei zu halten! <a href="/angebote" class="nav__banner-link">Unterstütze uns ></a>
		</div>
	</div>
</div>

<input type="checkbox" class="icon" id="openSidebarMenu">
<label for="openSidebarMenu" class="icon__toggle">
  <div class="icon__spinner icon__diagonal--1"></div>
  <div class="icon__spinner icon__horizontal"></div>
  <div class="icon__spinner icon__diagonal--2"></div>
</label>

<div class="sidebar">
  <ul class="sidebar__menu">
		<li class="sidebar__item"><a href="/alle-artikel" class="sidebar__link">Artikel</a></li>
		<li class="sidebar__item">
			<div class="sidebar__dropdown">
				<input type="checkbox" class="sidebar__dropdown-box" id="lage-dropdown" />
				<label for="lage-dropdown" class="sidebar__dropdown-label">
					<span class="sidebar__dropdown-text">Artikel nach Lage</span>
					<span class="sidebar__dropdown-arrow"></span>
				</label>
				<ul class="sidebar__dropdown-content">
					{{ range .Site.Data.partials.categories.lage }}
						<li class="sidebar__dropdown-item"><a href="{{ .link }}" class="sidebar__dropdown-link">{{ .label }}</a></li>
					{{ end }}
				</ul>
			</div>
		</li>
		<li class="sidebar__item">
			<div class="sidebar__dropdown">
				<input type="checkbox" class="sidebar__dropdown-box" id="thema-dropdown" />
				<label for="thema-dropdown" class="sidebar__dropdown-label">
					<span class="sidebar__dropdown-text">Artikel nach Thema</span>
					<span class="sidebar__dropdown-arrow"></span>
				</label>
				<ul class="sidebar__dropdown-content">
					{{ range .Site.Data.partials.categories.thema }}
						<li class="sidebar__dropdown-item"><a href="{{ .link }}" class="sidebar__dropdown-link">{{ .label }}</a></li>
					{{ end }}
				</ul>
			</div>
		</li>
		<li class="sidebar__item"><a href="/fokus-der-woche" class="sidebar__link">Fokus der Woche</a></li>
		<li class="sidebar__item"><a href="/arbeitsmaterial" class="sidebar__link">Arbeitsmaterial</a></li>
		<li class="sidebar__item"><a href="/unterrichtsideen" class="sidebar__link">Unterrichtsideen</a></li>
		<li class="sidebar__item"><a href="/angebote"class="sidebar__link">Angebote</a></li>
		<li class="sidebar__item"><a href="/verein" class="sidebar__link">Der Verein</a></li>
		<li class="sidebar__item"><a href="/kontakt" class="sidebar__link">Kontakt</a></li>
  </ul>
</div>
