<div class="cta cta--verdigris">
	<h2 class="heading heading--white">Neuste Artikel</h2>
	<div class="cta__container cta__container--column">
		{{ $set3 := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
		{{ $new := $set3 }}
		<div class="cta__container--single">
			{{ range first 1 $new.ByDate.Reverse }}
				{{ partial "article-card.html"
					(dict
						"attr" .
						"ctx" $
						"cardType" "card__land"
						"cardColor" "card--celadon"
						"cardBg" "card--bg-white"
						"fokusImg" "false"
					)
				}}
			{{ end }}
		</div>
		<div class="carousel" data-flickity='{"cellAlign": "left", "wrapAround": true }'>
			{{ range first 7 (after 1 $new.ByDate.Reverse) }}
				{{ partial "article-card.html"
					(dict
						"attr" .
						"ctx" $
						"cardType" "card__port"
						"cardColor" "card--celadon"
						"cardBg" "card--bg-white"
						"fokusImg" "false"
					)
				}}
			{{ end }}
			<a href="{{ relLangURL "/alle-artikel" }}" class="card card__port card--celadon card--bg-white card__btn carousel-cell">
				{{ partial "svgs/arrow-right-circle.html" . }}
				<div class="card__btn-text card__btn--celadon">Alle Artikel</div>
			</a>
		</div>
	</div>
</div>
