<div class="newsletter newsletter--{{ .type }}">
	<form action="https://chinderzytig.us2.list-manage.com/subscribe/post?u=924440a81ed13cabbb33191d9&amp;id=31aee01538" method="post" name="mc-embedded-subscribe-form" class="validate newsletter__form" target="_blank" novalidate>
		<p class="newsletter__heading newsletter__heading--{{ .type }}">
			Newsletter abonnieren
		</p>
    <div class="newsletter__container">
			<div class="newsletter__group">
				<input type="email" value="" name="email" placeholder="E-Mail" id="mc-{{ .type }}" class="newsletter__group-field" required>
				<label for="mc-{{ .type }}" class="newsletter__group-label">E-Mail</label>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_924440a81ed13cabbb33191d9_31aee01538" tabindex="-1" value=""></div>
			</div>
			<button type="submit" value="Senden" name="subscribe" class="btn btn--{{ .type }} newsletter__submit">Senden</button>
    </div>
	</form>
</div>
