<div class="newsletter newsletter--{{ .type }}">
	<form method="post" action="#" class="newsletter__form">
		<p class="newsletter__heading newsletter__heading--{{ .type }}">Newsletter abonnieren</p>
		<div class="newsletter__container">
			<div class="newsletter__group">
				<input type="email" name="email" placeholder="Email" class="newsletter__group-field" required>
				<label for="email" class="newsletter__group-label">Email</label>
			</div>
			<button type="submit" value="Senden" class="btn btn--{{ .type }} newsletter__submit">Senden</button>
		</div>
	</form>
</div>
