<div id="mc_embed_signup" class="newsletter">
	<form action="https://chinderzytig.us2.list-manage.com/subscribe/post?u=924440a81ed13cabbb33191d9&amp;id=31aee01538" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter__container" target="_blank" novalidate>
		<p class="newsletter__heading">Newsletter abonnieren</p>
		<div class="newsletter__form">
			<div id="mc_embed_signup_scroll" class="newsletter__field">
				<input type="email" value="" name="EMAIL" class="newsletter__field-input" id="mce-EMAIL" placeholder="E-Mail" required>
				<label for="mce-EMAIL" class="newsletter__field-label">E-Mail</label>
			</div>
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_924440a81ed13cabbb33191d9_31aee01538" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Senden" name="subscribe" id="mc-embedded-subscribe" class="btn btn__footer newsletter__submit"></div>
    </div>
	</form>
</div>
