<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__svg cta__svg--flex-center cta__svg--display-none">
			{{ partial "svgs/superhero.html" }}
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">
				Was hat Politische Bildung mit der Chinderzytig zu tun?
			</h2>
			<p class="cta__text cta__text--btnless">
				Ganz schön viel! Die Meinungs- und Informationsfreiheit ist laut Artikel
				13 der Unicef-Kinderrechtskonvention ein Kinderrecht. Für die Kinder und
				Jugendlichen unserer Gesellschaft ist es eine grosse Herausforderung,
				sich in der modernen Informationsflut zurecht zu finden. Nachrichtensender
				und Zeitungen sind für Erwachsene konzipiert, die Sprache also viel zu
				komplex, sodass diese Beiträge für die jüngeren Mitglieder unserer
				Gesellschaft unverständlich werden. Das Ziel der Chinderzytig ist es,
				Kindern und Jugendlichen zu ermöglichen, sich über das aktuelle
				Weltgeschehen zu informieren - in einfacher, kindgerechter Sprache -
				damit sie sich eine eigene Meinung über die Welt bilden können. Wir
				setzen uns für aufgeweckte, partizipierfähige Generationen von morgen
				ein, schon heute! 
			</p>
		</div>
	</div>
</div>
