{{ $page := .attr }}
{{ $accent := .accent }}

<div class="cta cta--{{ .cta }}">
	<h2 class="deading deading__list deading--{{ .color }}">{{ .heading }}</h2>
	<div class="cta__container cta__container--taxonomy">
		{{ range .data }}
			<a href="{{ $page.Site.Params.cloudinary_url }}/{{ .document }}.pdf" target="_blank" class="card card__external card--{{ $accent }}">
				<div class="card__img-container">
					<img src="{{ $page.Site.Params.cloudinary_url }}/h_200,c_scale,q_auto:best/{{ .document }}.png" alt="Schuleprojekte cover" class="card__external-img">
				</div>
			</a>
		{{ end }}
	</div>
</div>
