{{ $page := .attr }}
{{ $snipcart := .snipcart }}
{{ $a := .alias }}
{{ $t := sort $page.Site.Data.partials.pdf.files }}

{{ if eq $snipcart "true" }}
	{{ range where $t "alias" $a }}
		<button class="pdf pdf--cart snipcart-add-item"
			data-item-id="{{ .id }}"
			data-item-file-guid="{{ .guid }}"
			data-item-price="{{ .price }}"
			data-item-url="{{ $page.RelPermalink }}"
			data-item-description="{{ .description }}"
			data-item-image="{{ $page.Site.Params.cloudinary_url }}/production/pdf_uprerd.png"
			data-item-name="{{ .name }} PDF">
			<div class="pdf__container">
				<div class="pdf__info">
					{{ partial "svgs/pdf.html" }}
					<div class="pdf__text">
						<h3 class="pdf__title">{{ .name }}</h3>
						<p class="pdf__target">{{ .target }}</p>
					</div>
				</div>
				<div class="pdf__buy">
					<div class="pdf__buy-container">
						{{ partial "svgs/cart.html" }}
						<span class="pdf__buy-now">Jetzt kaufen</span>
					</div>
				</div>
			</div>
		</button>
	{{ end }}
{{ else }}
	{{ range where $t "alias" $a }}
		<a href="{{ .link }}" target="_blank" class="pdf pdf--external">
			<div class="pdf__info">
				{{ partial "svgs/pdf.html" }}
				<div class="pdf__text">
					<h3 class="pdf__title">{{ .name }}</h3>
				</div>
			</div>
		</a>
	{{ end }}
{{ end }}
