{{ $page := .attr }}
{{ $cta := .cta }}
{{ $headingColor := .headingColor }}
{{ $textColor := .textColor}}

<div class="cta cta--{{ $cta }}">
	<h2 class="heading heading--{{ $headingColor }}">
		Wie kann Politische Bildung mit der Chinderzytig unterrichtet werden?
	</h2>
	<p class="cta__text cta__text--{{ $textColor }}">
		Die Möglichkeiten sind endlos. Wir haben einige Unterrichtsideen
		entwickelt, die für den Politikunterricht mit der Chinderzytig für
		die Zyklen 2 (3.-6. Klasse) und 3 (7.-9. Klasse) geeignet sind.
		Unsere Unterrichtsideen sind kompetenzorientiert und richten sich
		nach der Vorlage des Lehrplan21.
	</p>

	<h2 class="heading heading--{{ $headingColor }}">Themenpakete</h2>
	<p class="cta__text cta__text--{{ $textColor }}">
		Unsere Themenpakete bieten Lehrpersonen eine Unterstützung zur
		Vermittlung von ausgewählten Themengebieten. Diese enthalten jeweils
		eine Planung für mehrere Lektionen, methodische Vorschläge  für den
		Unterricht und passende Artikel aus der Chinderzytig, die direkt im
		Unterricht einsetzbar sind. Profitiere jetzt von unserer Einführungsaktion!
		Das erste Themenpaket kannst du für nur 29.- Fr. beziehen und uns somit
		unterstützen, weitere Themenpakete zu erstellen!
	</p>
	
	<div class="carousel carousel__bottom" data-flickity='{"cellAlign": "left", "wrapAround": true}'>		
		{{ partial "pdf-card.html" (dict "attr" $page "snipcart" "true" "alias" "themenpaket") }}
	</div>

	<h2 class="heading heading--{{ $headingColor }}">Schulprojekte</h2>
	<p class="cta__text cta__text--{{ $textColor }}">
		Im Gegensatz zu unseren Themenpaketen, sind die Themen bei den Schulprojekten
		frei wählbar. Jedes Schulprojekt enthält eine konkrete Planung, die Lehrpersonen
		durch die aufbauenden Unterrichtsphasen leitet. Abgerundet werden die Schulprojekte
		jeweils mit einem Produkt oder einem Abschlussauftrag der Lernenden. Für nur 10.-
		Fr. kannst du unsere Schulprojekte erwerben und uns gleichzeitig unterstützen!
	</p>
	<div class="carousel" data-flickity='{"cellAlign": "left", "wrapAround": true}'>
		{{ partial "pdf-card.html" (dict "attr" $page "snipcart" "true" "alias" "schulprojekt") }}
	</div>
</div>