<div class="cta">
	<div class="cta__container cta__container--column-center">
		<div class="cta__info cta__info--column">
			<h2 class="heading heading__center heading--black">
				Wie kann Politische Bildung mit der Chinderzytig unterrichtet werden?
			</h2>
			<p class="cta__text cta__text--column">
				Die Möglichkeiten sind endlos – der Fantasie sind keine Grenzen gesetzt.
				Wir haben hier einige Unterrichtsprojekte erstellt, die für den
				Politikunterricht mit der Chinderzytig für die Zyklen 2 (3.-6. Klasse)
				und 3 (7.-9. Klasse) geeignet sind. Die Chinderzytig richtet sich nach
				der Vorlage des Schweizerischen Lehrplans21. Für nur 10.- Fr. kannst du
				unsere Schulprojekte bei uns erwerben und gleichzeitig die Chinderzytig
				unterstützen!
			</p>
		</div>
		<div class="cta__svg cta__svg--column">
			{{ partial "pdf-card.html" }}

			{{ partial "pdf-card.html" }}
		</div>
	</div>
</div>
