<div class="cta cta__info">
	<div class="cta__svg cta__svg-flex-end">
		{{ partial "svgs/choices.html" }}
	</div>
	<div class="cta__text">
		<h2 class="deading deading__cta deading--black">
			viele möglichkeiten
		</h2>
		<p class="cta__chunk cta__chunk-btnless">
			Uns kann man für Unterrichtsideen aufbieten. Wir kommen gerne vorbei und
			realisieren mit der Klasse Inputs zu folgenden möglichen Themen:
			<ul>
				<li>Beginn des Schulprojekts «Schülerzeitung»</li>
				<li>Entwicklung einer Zeitung</li>
				<li>Medienkunde / From good news to fake news</li>
				<li>Projektentwicklung: Von der Idee zur Umsetzung</li>
			</ul>
		</p>
	</div>
</div>
