<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__svg cta__svg--flex-start cta__svg--display-none">
			{{ partial "svgs/choices.html" }}
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">
				viele möglichkeiten
			</h2>
			<p class="cta__text cta__text--btnless">
				Uns kann man für Unterrichtsideen aufbieten. Wir kommen gerne vorbei und
				realisieren mit der Klasse Inputs zu folgenden möglichen Themen:
				<ul>
					<li>Beginn des Schulprojekts «Schülerzeitung»</li>
					<li>Entwicklung einer Zeitung</li>
					<li>Medienkunde / From good news to fake news</li>
					<li>Projektentwicklung: Von der Idee zur Umsetzung</li>
				</ul>
			</p>
		</div>
	</div>
</div>
