{{ $page := .attr }}
{{ $cta := .cta }}
{{ $color := .color }}
{{ $title := .title }}
{{ $accent := .accent }}
{{ $k := .kind }}
{{ $s := sort $page.Site.Data.pages.abonnemente.list }}
{{ $p := sort $page.Site.Data.pages.abonnemente.print }}

<div class="cta cta--{{ $cta }}">
	<h2 class="deading deading--{{ $color }}">{{ $title }}</h2>
	<div class="pricing">
		<div class="pricing__info">
			{{ range where $s "kind" $k }}
					<div class="pricing__product pricing__product--{{ $accent }}">
						<div class="pricing__name pricing__name--{{ $accent }}">{{ .name }}</div>
						<div class="pricing__type">{{ .type }}</div>
						<ul class="pricing__offersheet">
							{{ range .offersheet }}
								<li class="pricing__inclusion">{{ .inclusion }}</li>
							{{ end }}
						</ul>
						<div class="pricing__amount">
							<div class="pricing__number">{{ .number }}</div>
							<div class="pricing__target">{{ .target }}</div>
						</div>
						{{ if .btn }}
							{{ range .btn }}
							<button class="mtn mtn--jonquil mtn__pricing snipcart-add-item"
							data-item-id="{{ .id }}"
							data-item-price="{{ .price }}"
							data-item-url="{{ $page.RelPermalink }}"
							data-item-description="Einzelteilnehmer: Perfekt für Privatpersonen oder Lehrpersonen. Andere Teilnehmer: Perfekt für Schulen, Institutionen, und Firmen."
							data-item-image="{{ $page.Site.Params.cloudinary_url }}/logos/chinder_main_qwvki2.png"
							data-item-name="{{ .item_name }}"
							data-item-custom1-name="Abonnementtyp"
							data-item-custom1-options="{{ .custom_options }}">
							{{ .label }}
							</button>
						{{ end }}
					{{ end }}
					{{ if .hyper }}
						{{ range .hyper }}
							<a href="{{ .link }}" class="mtn mtn--jonquil mtn__pricing mtn__pricing-narrow">{{ .label }}</a>
						{{ end }}
					{{ end }}
				</div>
			{{ end }}
		</div>
	</div>

	<p class="pricing__fineprint pricing__fineprint--{{ $accent }}">
		{{ range where $p "kind" $k }}
			{{ if .heading }}
				<span class="pricing__fineprint--heading">{{ .heading }}</span>
			{{ end }}
			{{ .text }}
		{{ end }}
	</p>

	{{ if eq $k "visible"}}
		<a href="https://www.mirroco.ch/register" target="_blank" class="mtn mtn__long mtn--jonquil">
			<span>Registrieren/zum Testabo</span>
			{{ partial "svgs/arrow-right.html" }}
		</a>
	{{ end }}
</div>
