<div class="cta cta--verR">
	<h2 class="deading deading__cta deading--white">
		Nützen für den Verein Chinderzytig
	</h2>
	<p class="cta__text cta__text--btnless cta__text--white">
		Durch ihre finanzielle Unterstützung können wir längerfristig planen und
		ein sozialer Arbeitgeber sein. Wir veröffentlichen aktuell 208 Produkte
		jährlich (Artikel und Arbeitsmaterialien). Ihr Beitrag unterstützt uns wie
		folgt:
	</p>
	<table class="pricing-benefits">
	  <tr>
	    <th>Folgendes Angebote</th>
	    <th>...finanziert folgende Leistunge</th>
	  </tr>
	  <tr>
	    <td>Abonnement ohne Arbeitsmaterial à CHF 40.-</td>
	    <td>2 von total 130 Artikeln</td>
	  </tr>
	  <tr>
	    <td>Abonnement mit Arbeitsmaterial à CHF 60.-</td>
	    <td>3 von total 208 Produkten</td>
	  </tr>
		<tr>
	    <td>Visible Learning basic, à CHF 570.-</td>
	    <td>
				28 von 208 Chinderzytig-Produkten oder die Möglichkeit, uns an
				spezifischen Bildungsmessen präsent in Szene setzen zu können
	    </td>
	  </tr>
		<tr>
	    <td>Visible Learning professional, à CHF 970.-</td>
	    <td>
				48 von 208 Produkten, was ca. 3 Monaten Chinderzytig entspricht oder ein
				Halbjahreslohn der Administration
	    </td>
	  </tr>
	</table>
</div>
