<div class="cta cta__info">
	<div class="cta__svg cta__svg-flex-start">
		{{ partial "svgs/winner.html" }}
	</div>
	<div class="cta__text">
		<h2 class="deading deading__cta deading--black">
			Nutzen für die Schule
		</h2>
		<p class="cta__chunk cta__chunk-btnless">
			Die Schule profitiert durch moderne, den Bildungsstandards entsprechende
			und auf die Aktualität bezogene Inhalte, die den wichtigsten Personen im
			Bildungsumfeld zu Gute kommen: den Kindern. Schulen erhalten durch
			kostenpflichtige Angebote die Möglichkeit, sich auf eine Partnerschaft mit
			der Chinderzytig einzulassen und auch von der Online-Plattform zu profitieren.
			Lehrpersonen erhalten vielfältige Materialien zu aktuellen Themen,
			aufbereitet durch Profis aus dem Bildungswesen und Journalismus. Dies
			entlastet die Vorbereitungszeit und unterstützt bei individualisierenden
			Gefässen im Unterricht. So bleibt mehr Zeit für das Kerngeschäft: Kontakt
			mit den einzelnen Kindern sowie Förderung in der Wissensvermittlung und der
			Fähigkeit zur individuellen Meinungsbildung.
		</p>
	</div>
</div>
