<div class="cta">
	<div class="cta__container cta__container--pdf">
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">
				Was sagt die Wissenschaft über die Chinderzytig?
			</h2>
			<p class="cta__text">
				Es wurden wissenschaftliche Arbeiten über und mit der Chinderzytig
				verfasst. Das oben erwähnte Schulprojekt «Aktuelle Stunde» wurde in vier
				Schulklassen erprobt. Die Ergebnisse aus den Interviews mit den
				Lehrpersonen sind hier kostenlos einsehbar.
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-pdf">
			{{ partial "pdf-card.html" (dict "attr" . "alias" "external") }}
		</div>
	</div>
</div>
