<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="deading deading__cta deading--black">
				Wir bieten wissen - einfach verpackt
			</h2>
			<p class="cta__text cta__text--btnless">
				Die Chinderzytig ist bestrebt, das Alltagsgeschehen für Kinder und
				Jugendliche in einer einfachen Sprache anzubieten und mit Arbeitsmaterial
				für den Schul- und Fernunterricht zu ergänzen. Wir bieten Wissen - einfach
				verpackt. Kinder und Jugendliche können auf chinderzytig.ch erfahren, was
				auf der Welt gerade geschieht und somit ihr Wissen vertiefen. Damit
				unterstützen wir die individuelle Meinungsbildung und bieten eine spannende
				Plattform für die allgemeine Leseförderung. Für die aufgeweckte Gesellschaft
				von morgen!
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-center">
			{{ partial "svgs/superhero.html" }}
		</div>
	</div>
</div>
