<div class="cta">
	<h3 class="sources__title">Quellen</h3>
	<ul class="sources__list">
		<li class="sources__source">
			Bundeszentrale für politische Bilding (bpb) (2011): Beutelsbacher Konsens.
			Online verfügbar unter https://www.bpb.de/die-bpb/ueber-uns/auftrag/51310/beutelsbacher-konsens/,
			zuletzt geprüft am 21.02.2024.
		</li>
		<li class="sources__source">
			Cabaleiro, M. (2021): Eine fachdidaktische Entwicklungsarbeit zu einer
			erprobten Unterrichtseinheit der Online-Plattform Chinderzytig. PHBern &
			PH Luzern. Bern, November 2021.
		</li>
		<li class="sources__source">
			Cabaleiro, M. (2022): Politische Bildung mit der Chinderzytig. Vier
			Lehrpersonen im Interview nach der Pilotierung des Unterrichtprojekts
			Aktuelle Stunde im Zyklus 2. Eine empirische Untersuchung. PHBern & PH
			Luzern. Bern, 21.12.2022.
		</li>
		<li class="sources__source">
			D-EDK (2015): Lehrplan 21. Vorlage. Online verfügbar unter https://v-fe.lehrplan.ch/.
		</li>
		<li class="sources__source">
			Deutsches Komitee für UNICEF e.V (2021): Konvention über die Rechte des
			Kindes. Unter Mitarbeit von UNICEF, S. 17–21. Online verfügbar unter
			https://www.unicef.de/_cae/resource/blob/194402/3828b8c72fa8129171290d21f3de9c37/d0006-kinderkonvention-neu-data.pdf
		</li>
	</ul>
</div>
