<div class="cta cta__info">
	<div class="cta__text">
		<h2 class="deading deading__cta deading--black">
			Helfen Sie uns, Chinderzytig frei zu halten!
		</h2>
		<p class="cta__chunk">
			Wir von der Chinderzytig möchten die Lesefreudigkeit fördern und nicht
			einschränken. Deshalb stellen wir unseren Inhalt gratis zur Verfügung.
		</p>
		<a href="/angebote" class="mtn mtn__space mtn--jonquil">
			<span>Unterstütze uns</span>
			{{ partial "svgs/arrow-right.html" }}
		</a>
	</div>
	<div class="cta__svg cta__svg-flex-end">
		{{ partial "svgs/kid-sitting.html" }}
	</div>
</div>
