<section class="support">
	<div class="support__heading">
		<h2 class="heading heading__tertiary">Unterstütze Uns!</h2>
		<p class="support__heading-intro">
			Wir von der Chinderzytig möchten die Lesefreudigkeit fördern und nicht
			einschränken. Deshalb stellen wir unseren Inhalt gratis zur Verfügung. Es
			bestehen jedoch regelmässige Kosten um dies zu ermöglichen. Um uns zu
			unterstützen gibt es folgende Optionen:
		</p>
	</div>
	<div class="support__options">
		<div class="support__options-container support__options--abo">
			<h2 class="heading heading__tertiary">Abonnemente</h2>
			<p class="support__options-info">Wir beiten Wissen - einfach verpackt.</p>
			<a href="#" class="btn btn--primary">Zu den Abonnementen</a>
		</div>
		<div class="support__options-container support__options--donate">
			<h2 class="heading heading__tertiary">Spenden</h2>
			<p class="support__options-info">
				Auch kleine Spenden können eine grosse Wirkung erzielen.
			</p>
			<div class="support__options-btns">
				<a href="#" class="btn btn--donate">CHF 5</a>
				<a href="#" class="btn btn--donate">CHF 10</a>
				<a href="#" class="btn btn--donate">CHF 15</a>
				<a href="#" class="btn btn--donate">CHF 20</a>
			</div>
		</div>
		<div class="support__options-divider">Oder</div>
	</div>
</section>
