<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">
				Helfen Sie uns, Chinderzytig frei zu halten!
			</h2>
			<p class="cta__text">
				Wir von der Chinderzytig möchten die Lesefreudigkeit fördern und nicht
				einschränken. Deshalb stellen wir unseren Inhalt gratis zur Verfügung.
			</p>
			<a href="/angebote" class="btn btn__space btn--jonquil">
				<span>Unterstütze uns</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
		<div class="cta__svg cta__svg--flex-end cta__svg--display-none">
			{{ partial "svgs/kid-sitting.html" }}
		</div>
	</div>
</div>
