<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="deading deading__cta deading--black">
				Die Idee entsprang einem Kinderkopf
			</h2>
			<p class="cta__text cta__text--btnless">
				Wir nehmen uns nicht weniger vor, als einen Beitrag zur gesellschaftlichen
				Entwicklung der Erwachsenenwelt von morgen zu leisten. Doch, diese Idee
				ist nicht etwa aus unseren Köpfen entsprungen. Tätsächlich ist die Idee
				der Chinderzytig jene eines siebenjährigen Knaben gewesen, der mit seinem
				Vater an einem gewöhnlichen Dezembertag im Jahr 2018 beim Mittagessen mehr
				über die Welt erfahren wollte. Namentlich: Mehr über Donald Trump. Nach
				einem langen, intensiven Gespräch über Gott, Trump und die Welt fragte
				ich meinen Sohn, ob er denn gerne mehr über diese Themen wissen möchte
				und ob dies an der Schule zu kurz käme.
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-center cta__svg--display-none">
			{{ partial "svgs/kid-peace.html" }}
		</div>
	</div>
</div>
<div class="cta cta--just-text">
	<p class="cta__text cta__text--btnless">
		Wir fachsimpelten nun weiter und überlegten uns, was der Schule allenfalls
		unter die Arme greifen könnte, um solche Themen den Kindern und Jugendlichen
		näher zu bringen: Die Idee einer Zeitung für Kinder war geboren. Dank eines
		Kindes und nicht dank Erwachsenen, die zu oft meinen besser zu wissen, was
		Kinder wollen.
	</p>
</div>
