<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="deading deading__cta deading--black">
				Was ist Visible Learning?
			</h2>
			<p class="cta__text cta__text--btnless">
				In starkes Trio für das Visible Learning: Die Chinderzytig bietet Inhalt
				und arbeitet mit mirroco zusammen - der Schweizer Softwarelösung für
				"Visible Learning" - mit Datenhaltung in der Schweiz - powered by Hazu.
				Individuelle Lernbegleitung ist der Schlüssel für stärkende Bildung.
				Visible Learning von mirroco ermöglicht die Kompetenzentwicklung der
				Lernenden im Hinblick auf den Lehrplan 21 sichtbar zu machen und mit
				Weitsicht zu begleiten.
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-end cta__svg--display-none">
			<img srcset="{{ .Site.Params.cloudinary_url }}/c_scale,q_auto:best,w_300/graphics/visible-learning-schritte_oa0oh2.png 320w"
			sizes="(min-width: 600px) 400px, 100vw"
			src="{{ .Site.Params.cloudinary_url }}/c_scale,q_auto:best/graphics/visible-learning-schritte_oa0oh2.png"
			alt="Visible learning schritte graphic"
			class="visible__img">
		</div>
	</div>
</div>
<div class="cta cta--just-text">
	<h2 class="deading deading__center deading--black">
		in 5 schritten bist du bereits am ziel
	</h2>
	<p class="cta__text cta__text--btnless">
		Der gesamte Inhalt der Chinderzytig ist mit den Kompetenzen des Lehrplan 21
		verknüpft und durch die Software aufbereitet. So wird das Lesen und Lernen mit
		unseren Themen optimal dargestellt und das Lernen mit uns sichtbar gemacht.
		Schätze die Entwicklung der Lernenden mit dem 6 Phasenmodell fundiert ein und
		lass Dir auswerten, welche Kompetenzen die Lernenden mit den Lernaktivitäten
		erschlossen haben und welche noch fehlen. mirroco erstellt Dir aufgrund dieser
		Daten auf Knopfdruck einen aussagekräftigen Lernbericht, den Du als
		Dialoginstrument für alle Beteiligten nutzen kannst.
	</p>
</div>
