<div class="cta cta cta--orange">
	<div class="cta__container cta__container--standard">
        <div class="cta__svg cta__svg--flex-center cta__svg--display-none">
            <a href="{{ .Site.Params.cloudinary_url }}/Ausschreibung_CEO_nqfhmh.pdf" target="_blank" class="card card__report card--chestnut">
                <div class="card__img-container">
                    <img src="{{ .Site.Params.cloudinary_url }}/h_300,c_scale,q_auto:best/Ausschreibung_CEO_nqfhmh.png" alt="CEO Ausschreibung cover" class="card__report-img">
                </div>
            </a>
		</div>
		<div class="cta__info">
			<h2 class="heading heading__cta heading--white">Geschäftsführer gesucht!</h2>
			<p class="cta__text cta__text--white">
				Du willst nicht nur mitmachen, sondern gestalten? Hier ist deine Chance.
			</p>
			<p class="cta__text cta__text--white">
				Die Chinderzytig – seit über 7 Jahren die Zeitung für und mit Kindern – sucht eine neue
				Geschäftsführung. Keine klassische „Verwalter*innen-Rolle", sondern eine echte
				unternehmerische Spielwiese für jemanden, der oder die Lust auf die Extrameile hat.
			</p>
            <a href="{{ .Site.Params.cloudinary_url }}/Ausschreibung_CEO_nqfhmh.pdf" target="_blank" class="btn btn__mobile btn--chestnut">
				<span>Geschäftsführer PDF</span>
				{{ partial "svgs/arrow-right.html" (dict "h" "big") }}
			</a>
		</div>
	</div>
</div>