<div class="cta">
	<div class="cta__container cta__container--standard">
		<div class="cta__info">
			<h2 class="heading heading__cta heading--black">
				Was ist Politische Bildung?
			</h2>
			<p class="cta__text cta__text--btnless">
				«Politische Bildung hat zum Ziel, dass Lernende durch eigene Erfahrungen
				und das eigene Handeln im schulischen Kontext verstehen, was Politik und
				Demokratie bedeutet. Dies nicht nur durch Wissensaufbau, sondern vor
				allem durch das eigene Erleben von demokratisch-politischen Szenarien,
				wie beispielsweise im Klassenrat oder im Schüler*innenrat, wo die
				Partizipation und das Mitspracherecht der Lernenden erforderlich ist und
				vorausgesetzt wird.» (Reinhardt 2018)
			</p>
		</div>
		<div class="cta__svg cta__svg--flex-center cta__svg--display-none">
			{{ partial "svgs/thinking.html" }}
		</div>
	</div>
</div>
