<div class="cta cta__info">
	<div class="cta__text">
		<h2 class="deading deading__cta deading--black">
			Chinderzytig. Wer? was? warum?
		</h2>
		<p class="cta__chunk">
			Heute denken wir gross und arbeiten intensiv an einem ganzen Mana-Universum
			Dies beinhaltet die Chinderzytig, Unterrichtseinheiten, Pläne für eine
			Wissensdatenbank, Lernbegleitungen, Coachings und vieles mehr.
		</p>
		<a href="/verein" class="mtn mtn__long mtn--jonquil">
			<span>Über den Verein</span>
			{{ partial "svgs/arrow-right.html" }}
		</a>
	</div>
	<div class="cta__svg cta__svg-flex-end">
		{{ partial "svgs/uber-desk.html" }}
	</div>
</div>
