{{ define "main" }}
	 <div class="cta">
		<div class="cta__container cta__container--column-reverse">
			<div class="cta__info cta__info--column">
				<h2 class="deading deading__center deading--black">
					UPS...404 Seite nicht gefunden.
				</h2>
				<p class="cta__text cta__text--column">
					Leider konnten wir die Seite, nach der du suchst, nicht finden.
				</p>
				<a href="/" class="mtn mtn__space mtn--jonquil">
					<span>Rückkehr nach Hause</span>
					{{ partial "svgs/arrow-right.html" }}
				</a>
			</div>
			<div class="cta__svg cta__svg--column">
				{{ partial "svgs/books.html" }}
			</div>
		</div>
	</div>
{{ end }}
