{{ define "main" }}
	<div class="cta cta__info">
		<div class="cta__text">
			<h2 class="deading deading__cta deading--black">
				UPS...404 Seite nicht gefunden.
			</h2>
			<p class="cta__chunk">
				Leider konnten wir die Seite, nach der du suchst, nicht finden.
			</p>
			<a href="/" class="mtn mtn__space mtn--jonquil">
				<span>Bringen sie mich zurück nach Hause</span>
				{{ partial "svgs/arrow-right.html" }}
			</a>
		</div>
		<div class="cta__svg">
			{{ partial "svgs/books.html" }}
		</div>
	</div>
{{ end }}
