{{define "main"}}
	<section class="map u-margin-top-xs u-margin-bottom-s">
		<h2 class="heading__secondary">Unsere Welt</h2>
		{{- partial "world_map.html" . -}}
	</section>

		<div class="card">
			<a href="#" class="card__link">
				<div style="background:url(https://res.cloudinary.com/da9xmtvrb/image/upload/c_scale,h_170,q_auto:good,w_300/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
				<div class="card__content">
					<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
					<div class="card__content-date">Jul 15</div>
				</div>
			</a>
		</div>


	<div class="u-margin-top-l"></div>
{{end}}
