{{define "main"}}
	<section class="map">
			{{- partial "world_map.html" . -}}
	</section>

	<section class="special__cta">
		<div class="special__cta-container">
			<h2 class="heading heading__tertiary">Coronavirus</h2>
			<div class="special__cta-content u-margin-bottom-m">
				<div class="card card__portrait card--white">
					<a href="#" class="card__link">
						<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_200,q_auto:good,w_300/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
						<div class="card__content">
							<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
							<div class="card__content-date">Jul 15</div>
						</div>
					</a>
				</div>
				<div class="card card__portrait card--white">
					<a href="#" class="card__link">
						<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_200,q_auto:good,w_300/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
						<div class="card__content">
							<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
							<div class="card__content-date">Jul 15</div>
						</div>
					</a>
				</div>
				<div class="card card__portrait card--white">
					<a href="#" class="card__link">
						<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_200,q_auto:good,w_300/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
						<div class="card__content">
							<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
							<div class="card__content-date">Jul 15</div>
						</div>
					</a>
				</div>
			</div>
			<div class="btn__container">
				<a href="#" class="btn btn--secondary">Mehr Artikel</a>
			</div>
		</div>
	</section>

	<section class="new__cta">
		<h2 class="heading heading__secondary">Neuste Artikel</h2>
		<div class="new__cta-content u-margin-bottom-m">
			<div class="card card__landscape card--grey">
				<a href="#" class="card__link">
					<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_140,q_auto:good,w_216/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
					<div class="card__content">
						<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
						<div class="card__content-date">Jul 15</div>
					</div>
				</a>
			</div>
			<div class="card card__landscape card--grey">
				<a href="#" class="card__link">
					<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_140,q_auto:good,w_216/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
					<div class="card__content">
						<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
						<div class="card__content-date">Jul 15</div>
					</div>
				</a>
			</div>
			<div class="card card__landscape card--grey">
				<a href="#" class="card__link">
					<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_140,q_auto:good,w_216/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
					<div class="card__content">
						<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
						<div class="card__content-date">Jul 15</div>
					</div>
				</a>
			</div>
			<div class="card card__landscape card--grey">
				<a href="#" class="card__link">
					<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_140,q_auto:good,w_216/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
					<div class="card__content">
						<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
						<div class="card__content-date">Jul 15</div>
					</div>
				</a>
			</div>
		</div>
		<div class="btn__container">
			<a href="#" class="btn btn--primary">Alle Artikel</a>
		</div>
	</section>

	<section class="fdw__cta">
		<div class="fdw__cta-container">
			<a href="/fokus-der-woche" class="fdw">
				{{- partial "svgs/fdw_svg.html" . -}}
			</a>
			<div class="card card__portrait card--white">
				<a href="#" class="card__link">
					<div style="background:url(https://res.cloudinary.com/chinderzytig/image/upload/c_scale,h_200,q_auto:good,w_300/v1594824172/article_imgs/app_rkukid.jpg)" class="card__photo"></div>
					<div class="card__content">
						<h3 class="card__content-title">Verfolgt oder einfach beschützt?</h3>
						<div class="card__content-date">Jul 15</div>
					</div>
				</a>
			</div>
		</div>
	</section>

	{{- partial "support_us.html" . -}}
{{end}}
