{{define "main"}}
	<div class="cta">
		<div class="card__container card__container-single">
			{{ $artikel := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" true }}
			{{ range first 1 $artikel.ByDate.Reverse }}
			<a href="{{.RelPermalink}}" class="card card__land card--grey">
				<div class="card__img-container">
					<img src="{{ .Site.Params.cloudinary_url }}/q_auto:good/graphics/fdw-hero_nkmrti.png"
					alt="Cartoon-Bild eines Mädchens, das eine Lupe hochhält"
					class="card__land-img"
					/>
				</div>
				<div class="card__land-content">
					<div class="card__land-bulk-content">
						{{ if .Params.fdw }}
							<h4 class="card__land-topic card__land-topic--fdw">Fokus der Woche</h4>
						{{ else if .Params.kfk}}
							<h4 class="card__land-topic card__land-topic--fdw">Kinder schreiben für Kinder</h4>
						{{ end }}
						<h3 class="card__land-title">{{ .Title }}</h3>
						<p class="card__land-summary">{{ .Summary | truncate 200 }}</p>
					</div>
					<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
				</div>
			</a>
			{{ end }}
		</div>
	</div>

	<div class="cta cta--verL">
		<h2 class="deading deading--white">Neuste Artikel</h2>
		<div class="card__container card__container-list">
			{{ $artikel := where (where .Site.Pages ".Params.artikel" true) ".Params.fdw" false }}
			{{ range first 1 $artikel.ByDate.Reverse }}
				<a href="{{.RelPermalink}}" class="card card__land card--celadon">
					<div class="card__img-container">
						<img src="{{ .Site.Params.cloudinary_url }}/q_auto:good/{{ .Params.hero_img }}"
						alt="Cartoon-Bild eines Mädchens, das eine Lupe hochhält"
						class="card__land-img"
						/>
					</div>
					<div class="card__land-content">
						<div class="card__land-bulk-content">
							{{ if .Params.fdw }}
								<h4 class="card__land-topic card__land-topic--fdw">Fokus der Woche</h4>
							{{ else if .Params.kfk}}
								<h4 class="card__land-topic card__land-topic--fdw">Kinder schreiben für Kinder</h4>
							{{ end }}
							<h3 class="card__land-title">{{ .Title }}</h3>
							<p class="card__land-summary">{{ .Summary | truncate 200 }}</p>
						</div>
						<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
					</div>
				</a>
			{{ end }}
			{{ range first 5 (after 1 $artikel.ByDate.Reverse) }}
				<a href="{{.RelPermalink}}" class="card card__port card--celadon">
					<div class="card__img-container">
						<img src="{{ .Site.Params.cloudinary_url }}/q_auto:good/{{ .Params.hero_img }}"
						alt="{{ .Params.img_description }}"
						class="card card__port-img"
						/>
					</div>
					<div class="card__port-content">
						<h3 class="card__port-title">{{ .Title }}</h3>
						<div class="card__date">{{ .Date.Format .Site.Params.DateForm }}</div>
					</div>
				</a>
			{{ end }}
			<a href="/alle-artikel" class="card card__port card--celadon card__btn">
				{{ partial "svgs/arrow-right.html" . }}
				<div class="card__btn-text">Alle Artikel</div>
			</a>
		</div>
	</div>

	<div class="map">
			{{- partial "world_map.html" . -}}
	</div>

	{{- partial "support_us.html" . -}}
{{end}}
