.abonnemente {
	@include container-main;

	&__intro {
		text-align: justify;
		margin-bottom: $margin-s;
	}

	&__container { display: flex; }

	&__without { @include cta-color($cta-azure); }

	&__with { @include cta-color($cta-seashell); }

	&__without,
	&__with {
		width: 50%;
		padding-left: 3rem;
		padding-right: 3rem;
		display: flex;
		flex-direction: column;
	}

	&__heading { align-self: center; }

	&__breakdown { margin: 3rem 0;}

	&__inclusion {
		display: flex;

		&-item { margin-left: 1rem;}
	}

	&__options {
		display: flex;
		justify-content: space-between;
	}

	&__card-container { width: 48%; }

	&__card {
		width: 100%;
		height: 25rem;
		background-color: $chinder-cultured;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-tag {
			background-color: $chinder-verdigris;
			padding: .5rem;

			&--hidden { opacity: 0; }
		}

		&--standard { border: 2px solid $social-base; }

		&--bestseller { border: 2px solid $chinder-verdigris; }

		&-info {
			margin: 1rem 0;
			padding: .5rem 0;
			border-top: 1px solid $social-base;
			border-bottom: 1px solid $social-base;
		}

		&-price { margin-bottom: 2.5rem; }
	}

}
