.abonnemente {

	&__intro {
		text-align: justify;
		margin-bottom: $margin-s;
	}

	&__fineprint {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;

		&-group {
			display: flex;
			flex-direction: column;
			flex: 0 0 30%;
		}
	}

	&__print {

		&-divider { border-top: 1px solid $color-black; }

		&-container {
			display: flex;
			justify-content: space-between;
			padding-top: 2rem;

			@include respond(tab-port-lg) { flex-direction: column; }
		}

		&-group {
			text-align: justify;
			width: 30rem;

			@include respond(tab-port-lg) {
				width: 100%;

				&:not(:last-child) { margin-bottom: 3rem; }
			}
		}

		&-heading { color: $chinder-orange; }

		&-text { font-size: 1.5rem; }
	}
}
