.fdw {

	&__intro { @include container-main; }

	&__intro {
		display: flex;
		justify-content: center;
		align-items: center;

		&-text {
			font-size: 2rem;
			text-align: justify;
			width: 50%;
			margin-left: 2rem;
			border-top: 2px solid $chinder-verdigris;
			border-bottom: 2px solid $chinder-verdigris;
			padding: 3rem 0;
		}
	}

	&__highlight {
		@include cta-color($cta-seashell);

		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
