.fdw {

	&__intro {

		&-container {
			display: flex;
			justify-content: center;
			align-items: center;

			@include respond(tab-port-sm) { flex-direction: column; }
		}

		&-text {
			font-size: 2rem;
			text-align: justify;
			width: 50%;
			margin-left: 2rem;
			border-top: 2px solid $chinder-verdigris;
			border-bottom: 2px solid $chinder-verdigris;
			padding: 3rem 0;

			@include respond(tab-port-sm) {
				width: 90%;
				padding: 2rem 0;
				margin-top: 2rem;
			}
		}
	}
}
