.fdw {

	&__intro {
		@include cta-color($cta-seashell);
		margin-top: -6rem;

		&-container {
			@include container-main;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-text {
			font-size: 2rem;
			text-align: justify;
			width: 50%;
			margin-left: 2rem;
			border-top: 2px solid $chinder-verdigris;
			border-bottom: 2px solid $chinder-verdigris;
			padding: 3rem 0;
		}
	}
}
