.map {
	@include container-main;
	margin-top: -5rem;
}

.special__cta { @include cta-color($cta-azure); }
.fdw__cta { @include cta-color($cta-seashell); }

.special__cta-container,
.new__cta,
.fdw__cta-container { @include container-main; }

.special__cta-content,
.new__cta-content,
.fdw__cta-container {
	display: flex;
	justify-content: space-between;
}

.new__cta-content {
	flex-wrap: wrap;
}

.fdw__cta-container {
	justify-content: space-around;
}
