.map {
	@include container-main;
	margin-top: -5rem;

	@include respond(tab-port-sm) { margin-top: 0; }
}

.new__cta {
	@include cta-color($cta-azure);
	margin-bottom: 0;
}

.fdw__cta {
	border: 1rem solid $chinder-platinum;
	margin-bottom: 0;
	padding: 4rem 0;

	&-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
	}

	&-link { text-decoration: none; }

	&-card { margin-top: 0; }
}

.special__cta { @include cta-color($cta-seashell); }
