.implementation {
	margin-bottom: 3rem;

	&__options {
		display: flex;
		flex-direction: column;
	}

	&__category {
		display: flex;
		justify-content: center;
	}

	&__title {
		font-weight: bold;
		padding: 1rem .5rem .5rem .5rem;
		writing-mode: vertical-lr;

		&--free {
			background-color: $chinder-verdigris;
			border-bottom: 1px solid $color-black;
		}

		&--sale { background-color: $chinder-orange; }
	}

	&__list {
		flex: 0 0 75%;
		padding: 0 2rem 2rem 4rem;
		background-color: $chinder-cultured;

		&--free { border-bottom: 1px solid $color-black; }

	}

	&__item {
		padding-top: 1rem;

		&--bold { font-weight: bold; }

		&--special {
			font-style: italic;
			font-size: 1.5rem;
		}

		&-description { font-size: 1.5rem; }
	}
}

.comparison {
	margin-bottom: 3rem;

	&__table { border: 1px solid $color-black; }

	&__row {
		display: flex;

		&:not(:last-child) { border-bottom: 1px solid $color-black; }

		&--header{ background-color: $cta-seashell; }
		&--shade{ background-color: $cta-azure; }
	}

	&__item {
		flex: 0 0 50%;
		padding: 1rem;

		&--header {
			font-weight: bold;
		}

		&--product { border-right: 1px solid $color-black; }
	}
}
