.single {

	&__container {
		@include container-main;
	}

	&__image {
		display: flex;
		flex-direction: column;
		margin-bottom: 4rem;

		&-img { align-self: center; }

		&-caption {
			display: flex;
			align-items: center;
			margin-left: 11rem;
		}

		&-src { margin-left: .5rem; }
	}

	&__taxonomies { display: flex; }

	&__date-author {
		display: flex;
		border-bottom: 4px solid $chinder-cultured;
		margin-bottom: 1rem;
	}

	&__dot { margin: 0 .5rem; }
}
