.single {

	&__container {
		@include container-main;
	}

	&__image {
		display: flex;
		flex-direction: column;
		margin-bottom: 4rem;

		&-img { align-self: center; }

		&-caption {
			display: flex;
			align-items: center;
			margin-left: 11rem;
		}

		&-src { margin-left: .5rem; }
	}

	&__taxonomies { display: flex; }
}
