.single {

	&__photo {
		background-color: $verdigris;
		padding: 3rem 0;
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;

		&-container {
			display: flex;
			flex-direction: column;
			align-items: baseline;
		}

		&-img { box-shadow: 2rem 2rem $celadon; }

		&-caption {
			display: flex;
			align-items: center;
			padding-left: 3rem;
		}
	}

	&__image-src,
	&__caption-buffer,
	&__cc-src {
		font-size: 1.3rem;
		text-decoration: none;
	}

	&__image-photographer {
		color: $white;
		font-size: 1.3rem;
	}

	&__caption-buffer { margin: 0 .5rem; }

	&__content { margin: 0 3rem; }

	&__tags-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__taxonomies {
		display: flex;
		margin-bottom: $margin-s;
	}

	&__date-author {
		font-size: 1.3rem;
		display: flex;
		align-items: center;
		margin-bottom: .5rem;
	}

	&__dot {
		font-size: $font-default;
		margin: 0 .5rem;
	}

	&__svgs {
		@extend .cta--orange;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1.5rem;
	}

	&__article {
		margin: $margin-s 0;

		h3 {
			font-family: $font-amatic;
			color: $orange;
			font-size: 3.5rem;
			margin-bottom: 1.5rem;
		}

		&-heading--white {
			font-family: $font-amatic;
			font-weight: bold;
			color: $white;
			font-size: 3.5rem;
			margin-bottom: 1.5rem;
		}

		ul { @include respond(phone-xxl) { padding-left: 2rem; } }

		p, li {
			text-align: justify;
			margin-bottom: 1.5rem;
		}

		b, strong { font-weight: 600; }

		a { color: $verdigris; }

		.image__src,
		.single__caption-buffer,
		.single__cc-src { @extend .single__image-src; }

		&-video {
			display: flex;
			justify-content: center;

			iframe {
				width: 60rem;
				height: 40rem;
				margin-bottom: 3rem;

				@include respond(phone-lg) { height: 30rem; }

				@include respond(phone-md) { height: 20rem; }
			}
		}
	}
}
