.quellen {

	&__media-intro,
	&__logos-container,
	&__other { @include container-main; }

	&__media {

		&-text { margin-bottom: 3rem; }
	}

	&__logos {
		@include cta-color($chinder-cultured);

		&-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}

		&-logo { padding: 2rem; }
	}

	&__other {
		display: flex;
		justify-content: center;

		&-container {
			display: flex;
			border: 1px solid $color-black;
			padding: 2rem;
			display: flex;

			@include respond(tab-port-sm) {
				flex-direction: column;
				align-items: center;
				width: 50rem;
			}
		}

		&-logo {
			padding: 2rem;
		}

		&-text {
			text-align: justify;
			border-left: 1px solid $chinder-platinum;
			border-right: 1px solid $chinder-platinum;
			padding: 0 2rem;

			@include respond(tab-port-sm) {
				border-left: none;
				border-right: none;
				border-top: 1px solid $chinder-platinum;
				border-bottom: 1px solid $chinder-platinum;
				padding: 2rem 0;
			}
		}
	}
}
