.verein {

	&__history {
		@include container-main;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__history-quote { margin-bottom: $margin-s; }

	&__history-btn {
		align-self: flex-end;
		margin-right: 6rem;
	}

	&__media {
		@include cta-color($cta-azure);
	}
}
