.verein {

	&__history {
		@include container-main;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__history-quote {
		font-family: $font-patrick, $font-fallback;
		font-size: 5rem;
		word-spacing: 1rem;
		letter-spacing: .5rem;
		margin-bottom: $margin-s;

		@include respond(tab-port-sm) { text-align: center; }
	}

	&__highlight-word { color: $chinder-orange; }

	&__history-btn { align-self: center; }

	&__media { @include cta-color($cta-azure); }

	&__btns {
		@include container-main;

		&-group {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			@include respond(tab-port-sm) {
				flex-direction: column;
				align-items: center;
			}
		}

		&-btn {
			width: 40rem;
			display: flex;
			justify-content: space-between;

			&:not(:nth-child(-n+2)) { margin-top: 6rem; }

			@include respond(tab-port-sm) {
				&:not(:first-child) { margin-top: 3rem; }
			}

			@include respond(phone-lg) { width: 100%; }
		}
	}

	&__thanks {
		@include cta-color($chinder-cultured);
		margin-bottom: 0;

		&-container { @include container-main; }

		&-logos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}

		&-logo { padding: 2rem; }
	}
}
