.visible {
	@include container-main;
	margin-bottom: $margin-m;

	&__text {
		text-align: justify;
		margin-bottom: 3rem;
	}

	&__feature {
		font-size: 2.2rem;
		font-style: italic;
	}

	&__img-container {
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
	}

	&__pricing {

		&-info {
			display: flex;
			justify-content: space-between;

			@include respond(tab-port-lg) { flex-direction: column; }
		}

		&-product {
			flex: 0 0 30%;
			display: flex;
			flex-direction: column;
			border: 2px solid $chinder-platinum;
			padding: 1rem;

			@include respond(tab-port-lg) {

				&:not(:last-child) { margin-bottom: 3rem; }
			}
		}

		&-name {
			align-self: flex-start;
			font-size: 1.3rem;
			color: $chinder-celadon;
			font-weight: 500;
			background-color: $cta-azure;
			padding: 1rem;
			margin: -1rem 0 0 -1rem;
		}

		&-type,
		&-number {
			font-size: 2.2rem;
			font-weight: 700;
		}

		&-type {
			margin: 2rem 0;
			align-self: center;
			text-align: center;
		}

		&-offersheet { padding-left: 2rem; }

		&-amount {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1;
			justify-content: flex-end;
		}

		&-target {
			font-size: 1.3rem;
			margin-top: -.5rem;
		}
	}

	&__fineprint {
		font-size: 1.3rem;
		color: $social-base;
		text-align: justify;
		margin: 1rem 0 3rem 0;
	}
}
