.about {

	&__team,
	&__others { @include container-main; }

	&__others {
		margin-top: -3rem;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		&-heading {
			font-family: $font-patrick, $font-fallback;
			font-size: $font-bigger;
			color: $chinder-orange;
		}

		&-group {
			width: 38rem;
			margin-top: 3rem;
		}

		&-list {
			list-style: none;
			padding: 0;
		}
	}
}
