.fdw {

	&__intro {
		@include container-main;
	}

	&__intro {
		display: flex;
		justify-content: center;
		align-items: center;

		&-text {
			font-size: 1.8rem;
			font-weight: 700;
			text-align: justify;
			width: 50%;
			margin-left: 2rem;
		}
	}

	&__highlight {
		@include cta($cta-seashell);

		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
