<div class="cta__article cta--platL">
	<h3>Arbeitsmaterial</h3>
	<div class="card__container card__container-single">
		<a href="{{ .Site.Params.cloudinary_url }}/{{ .Page.Params.arbeitsmaterial }}.pdf" target="_blank" class="card card__arbeitsmaterial card--grey">
			<div class="card__img-container">
				<img src="{{ .Site.Params.cloudinary_url }}/h_200,c_scale,q_auto:best/{{ .Page.Params.arbeitsmaterial }}.png" alt="Arbeitsmaterial cover" class="card__arbeitsmaterial-img">
			</div>
		</a>
	</div>
</div>
