<figure class="image">
	<img srcset="{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_320/{{ .Get `img` }} 320w,
		{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_414/{{ .Get `img` }} 414w"
		sizes="(min-width: 600px) 600px, 100vw"
		src="{{ .Site.Params.cloudinary_url }}/f_auto,q_auto:good,w_600/{{ .Get `img` }}"
		alt="{{ .Get `desc` }}"
		class="image__img"/>
	<figcaption class="image__caption">
		{{ partial "svgs/triangle_up_svg.html" (dict "fill" "#FFFFFF" "width" 15 "height" 15) }}
		<a href="{{ .Get `src` }}" title="{{ .Get `desc` }}" target="_blank" class="image__src">
			<div class="image__photographer">{{ .Get "photographer" }}</div>
		</a>
		{{ if .Params.cc_licence }}
			<div class="single__caption-buffer">/</div>
			<a href="{{ .Get `cc_src` }}" target="_blank" class="single__cc-src">
				<div class="single__cc-licence">{{ .Get "cc_licence" }}</div>
			</a>
		{{ end }}
	</figcaption>
</figure>
